.layout-balance-widget[data-v-5e0ea9fe]{height:10.3125rem;padding:.9375rem;font-size:2.375rem;color:var(--color-white);background:linear-gradient(180deg,var(--color-primary) 0%,var(--color-primary) 100%);border-radius:.625rem}
