{extend name="common/layout" /}

{block name="body"}
<form class="layui-form">
    <!-- 主体内容 -->
    <div class="wait-body-content">
        <!-- 上级部门 -->
        <div class="layui-form-item">
            <label for="pid" class="layui-form-label"><span class="asterisk">*</span>上级部门：</label>
            <div class="layui-input-block">
                <select id="pid" name="pid" lay-verify="required|number" >
                    {volist name="dept" id="vo"}
                        {if $vo.id == $detail.pid}
                            <option value="{$vo.id}" selected>{$vo.html} {$vo.name}</option>
                        {else}
                            {if !in_array($vo.id, $child) || $vo.id === 1}
                                <option value="{$vo.id}">{$vo.html} {$vo.name}</option>
                            {/if}
                        {/if}
                    {/volist}
                </select>
            </div>
        </div>
        <!-- 部门名称 -->
        <div class="layui-form-item">
            <label for="name" class="layui-form-label"><span class="asterisk">*</span>部门名称：</label>
            <div class="layui-input-block">
                <input type="text" id="name" name="name" value="{$detail.name}"
                       autocomplete="off" class="layui-input" lay-verType="tips" lay-verify="required">
            </div>
        </div>
        <!-- 部门电话 -->
        <div class="layui-form-item">
            <label for="mobile" class="layui-form-label"><span class="asterisk">*</span>部门电话：</label>
            <div class="layui-input-block">
                <input type="text" id="mobile" name="mobile" value="{$detail.mobile}"
                       autocomplete="off" class="layui-input" lay-verType="tips" lay-verify="required|phone">
            </div>
        </div>
        <!-- 负责人 -->
        <div class="layui-form-item">
            <label for="duty" class="layui-form-label"><span class="asterisk">*</span>负责人：</label>
            <div class="layui-input-block">
                <input type="text" id="duty" name="duty" value="{$detail.duty}"
                       autocomplete="off" class="layui-input" lay-verType="tips" lay-verify="required">
            </div>
        </div>
        <!-- 排序 -->
        <div class="layui-form-item">
            <label for="sort" class="layui-form-label">排序：</label>
            <div class="layui-input-block">
                <input type="number" id="sort" name="sort" value="{$detail.sort}"
                       autocomplete="off" class="layui-input" lay-verType="tips">
            </div>
        </div>
        <!-- 状态 -->
        <div class="layui-form-item">
            <label class="layui-form-label">状态：</label>
            <div class="layui-input-block">
                <input type="radio" name="is_disable" value="0" title="正常" {if $detail.is_disable==0}checked{/if}>
                <input type="radio" name="is_disable" value="1" title="禁用" {if $detail.is_disable==1}checked{/if}>
            </div>
        </div>
    </div>

    <!-- 提交按钮 -->
    <div class="wait-body-footer">
        <a class="layui-layer-btn0" lay-submit lay-filter="addForm">确定</a>
        <a class="layui-layer-btn1" id="closePopupWindow">取消</a>
    </div>
</form>
{/block}