{extend name="common/layout" /}

{block name="style"}
<style>
    .phone { position: relative; margin-right: 25px; width: 360px; min-width: 360px; height: 615px; border: 1px solid #dddddd; color: #333333; background-color: #f7f7f7; }
    .phone .bottom { position: absolute; bottom: 0; display: flex; justify-content: space-between; width: 100%; height: 50px; border: 2px solid var(--theme-color); background-color: #ffffff; box-sizing: border-box; }
    .phone .bottom .item { display: flex; align-items: center; flex-direction: column; justify-content: center; width: 33.33%; }
    .phone .bottom .item img { width: 22px; height: 22px; }
    .container .layui-card { min-width: 880px; }
    .editor { min-width: 400px; }
    .editor .layui-form-label { width: 58px; padding: 9px 0; }
    .editor .layui-input-block { margin-left: 70px; }
    .editor .add-btn { padding: 6px 12px; font-size: 12px; border: 1px solid #efefef; text-align: center; white-space: nowrap; color: #6b6b6b; background: #fdfdfd !important; transition: background-color 0.3s; cursor: pointer; }
    .editor .tabbar { position: relative; padding: 10px; margin-bottom: 20px; border-radius: 4px; background: #f2f2f2; }
    .editor .tabbar .close { position: absolute; top: 4px; right: 4px; display: none; padding: 3px; font-size: 12px; border-radius: 50%; color: #ffffff; background: rgba(0, 0, 0, .3); line-height: 1; }
    .editor .tabbar .close:hover { background: rgba(0, 0, 0, .7); }
    .editor .tabbar:hover .close { display: block; }
</style>
{/block}

{block name="body"}
<div class="container">
    <div class="layui-card layui-form">
        <div class="layui-card-body">
            <div style="display: flex;">
                <!-- 手机端 -->
                <div class="phone">
                    <div class="bottom">
                        {volist name="list" id="vo" key="k"}
                            <div class="item w-scale-{php}echo count($list);{/php}">
                                <img src="{$k==1 ? $vo.selectedIconPath : $vo.iconPath}" alt="icon">
                                <div class="text {if $k==1}select{/if}">{$vo.text}</div>
                            </div>
                        {/volist}
                    </div>
                </div>
                <!-- 编辑器 -->
                <div class="editor">
                    <!-- 样式设置 -->
                    <fieldset class="layui-elem-field">
                        <legend>样式设置</legend>
                        <div class="layui-field-box">
                            <div class="layui-form-item">
                                <label class="layui-form-label">展示效果:</label>
                                <div class="layui-input-block">
                                    <input type="radio" name="effect" value="system"
                                           title="系统默认" {if $style.effect=='system'}checked{/if}>
                                    <input type="radio" name="effect" value="custom"
                                           title="自定义" {if $style.effect=='custom'}checked{/if}>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">导航类型:</label>
                                <div class="layui-input-block">
                                    <input type="radio" name="shape" value="default"
                                           title="底部固定" {if $style.shape=='default'}checked{/if}>
                                    <input type="radio" name="shape" value="round"
                                           title="底部悬浮" {if $style.shape=='round'}checked{/if}>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label for="backgroundColorInput" class="layui-form-label">背景颜色:</label>
                                <div class="layui-input-block">
                                    <div id="backgroundColor"></div>
                                    <div class="layui-inline">
                                        <input type="text" id="backgroundColorInput" name="backgroundColor"
                                               class="layui-input" value="{$style.backgroundColor}">
                                    </div>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label for="unselectedColorInput" class="layui-form-label">默认颜色:</label>
                                <div class="layui-input-block">
                                    <div id="unselectedColor"></div>
                                    <div class="layui-inline">
                                        <input type="text" id="unselectedColorInput" name="unselectedColor"
                                               class="layui-input" value="{$style.unselectedColor}">
                                    </div>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label for="selectedColorInput" class="layui-form-label">选中颜色:</label>
                                <div class="layui-input-block">
                                    <div id="selectedColor"></div>
                                    <div class="layui-inline">
                                        <input type="text" id="selectedColorInput" name="selectedColor"
                                               class="layui-input" value="{$style.selectedColor}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <!-- 导航设置 -->
                    <fieldset class="layui-elem-field" style="margin-top:30px;">
                        <legend>导航设置</legend>
                        <div class="layui-field-box wait-table-cell" id="advDrag">
                            {volist name="$list" id="vo"}
                                <div class="tabbar">
                                    <i class="layui-icon layui-icon-close close"></i>
                                    <div style="display: flex; margin-bottom: 6px;">
                                        <div class="thumbnail small" data-type="image" data-field="selectedIconPath">
                                            <div class="musters">
                                                {if $vo.selectedIconPath}
                                                    <div class="preview">
                                                        <input type="hidden" name="selectedIconPath" value="{$vo.selectedIconPath}">
                                                        <i class="layui-icon layui-icon-close"></i>
                                                        <img src="{$vo.selectedIconPath}" alt="img" class="previewImage">
                                                    </div>
                                                {/if}
                                            </div>
                                            <div class="builder {if $vo.selectedIconPath}layui-hide{/if}">
                                                <i class="layui-icon layui-icon-camera"></i>
                                                <p>选中</p>
                                                <div class="mask">
                                                    <div class="item layui-auto">图库选择</div>
                                                    <div class="item layui-auto-call">本地上传</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="thumbnail small" data-type="image" data-field="iconPath">
                                            <div class="musters">
                                                {if $vo.iconPath}
                                                    <div class="preview">
                                                        <input type="hidden" name="iconPath" value="{$vo.iconPath}">
                                                        <i class="layui-icon layui-icon-close"></i>
                                                        <img src="{$vo.iconPath}" alt="img" class="previewImage">
                                                    </div>
                                                {/if}
                                            </div>
                                            <div class="builder {if $vo.iconPath}layui-hide{/if}">
                                                <i class="layui-icon layui-icon-camera"></i>
                                                <p>未选中</p>
                                                <div class="mask">
                                                    <div class="item layui-auto">图库选择</div>
                                                    <div class="item layui-auto-call">本地上传</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form">
                                        <label>
                                            <input type="text" name="name"
                                                   value="{$vo.text}" placeholder="请输入名称"
                                                   autocomplete="off" class="layui-input">
                                        </label>
                                        <label style="display: block; margin-top: 6px;">
                                            <input type="text" name="link"
                                                   value="{$vo.pagePath}" placeholder="请填写链接"
                                                   autocomplete="off" class="layui-input">
                                        </label>
                                    </div>
                                </div>
                            {/volist}
                        </div>

                    </fieldset>
                    <div class="add-btn">添加一个</div>
                    <!-- 提交按钮 -->
                    <div style="margin-top:20px;">
                        <button class="layui-btn layui-btn-default {:check_perms('save', false)}"
                                lay-submit lay-filter="addForm">保存配置</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}

{block name="js"}
<script>
    layui.use(['form', 'colorpicker'], function() {
        let $ = layui.$;
        let form = layui.form;
        let colorpicker = layui.colorpicker;

        $('.bottom').css('background', '{$style.backgroundColor}');
        $('.bottom .text').css('color', '{$style.unselectedColor}');
        $('.bottom .text.select').css('color', '{$style.selectedColor}');

        // 背景颜色
        colorpicker.render({
            elem: '#backgroundColor',
            color: '{$style.backgroundColor}'
            ,change: function(color){
                $("input[name=backgroundColor]").val(color);
                $('.bottom').css('background', color);
            }
        });

        // 默认颜色
        colorpicker.render({
            elem: '#unselectedColor',
            color: '{$style.unselectedColor}'
            ,change: function(color){
                $("input[name=unselectedColor]").val(color);
                $('.bottom .text').css('color', color);
            }
        });

        // 选中颜色
        colorpicker.render({
            elem: '#selectedColor',
            color: '{$style.selectedColor}'
            ,change: function(color){
                $("input[name=selectedColor]").val(color);
                $('.bottom .text.select').css('color', color);
            }
        });

        // 渲染表格
        waitUtil.table({
            elem: '#wait-table-list'
            ,url: '{:route("diy.tabbar/index")}'
            ,toolbar: false
            ,page: false
            ,cols: [[
                {field:'text', title:'名称', templet:'#table-text', width:240},
                {field:'selected', title:'选中图标', width:90, align:'center', templet:'#table-selected'},
                {field:'unselected', title:'未选图标', width:90, align:'center', templet:'#table-unselected'}
            ]]
        });

        // 提交表单
        form.on('submit(addForm)', function(data){
            layer.confirm('确定保存当前配置吗?', function(index) {
                layer.close(index);

                // 样式设置
                let style = {
                    effect: data.field['effect'],
                    shape: data.field['shape'],
                    selectedColor: data.field['selectedColor'],
                    unselectedColor: data.field['unselectedColor'],
                    backgroundColor: data.field['backgroundColor']
                };

                // 导航设置
                let list = [];
                let trElems = $(document).find('#advDrag .tabbar');
                trElems.each(function () {
                    let text = $(this).find('input[name="name"]').val();
                    let link = $(this).find('input[name="link"]').val();
                    let iconPath = $(this).find('input[name="iconPath"]').val();
                    let selectedIconPath = $(this).find('input[name="selectedIconPath"]').val();
                    list.push({
                        text: text,
                        pagePath: link,
                        iconPath: iconPath,
                        selectedIconPath: selectedIconPath
                    });
                })

                // 提交保存
                waitUtil.ajax({
                    url: '{:route("diy.tabbar/save")}',
                    type: 'POST',
                    data: {style: style, list: list}
                });
            });
        });

        // 删除模块
        $(document).on('click', '.editor .tabbar .close', function () {
            $(this).parent().remove();
        });

        // 创建模块
        $(document).on('click', '.add-btn', function () {
            let itemArr = $(document).find('#advDrag .tabbar');
            if (itemArr.length >= 5) {
                return layer.msg('您已超出规定的5个元素!', {icon: 2})
            }

            let html = '<div class="tabbar">';
            html += '<i class="layui-icon layui-icon-close close"></i>';

            html += '<div style="display: flex; margin-bottom: 6px;">'
            // 1
            html += '<div class="thumbnail small" data-type="image" data-field="selectedIconPath">';
            html += '<div class="musters"></div>';
            html += '<div class="builder">';
            html += '<i class="layui-icon layui-icon-camera"></i>';
            html += '<p>选中</p>';
            html += '<div class="mask">';
            html += '<div class="item layui-auto">图库选择</div>';
            html += '<div class="item layui-auto-call">本地上传</div>';
            html += '</div></div></div>';
            // 2
            html += '<div class="thumbnail small" data-type="image" data-field="iconPath">';
            html += '<div class="musters"></div>';
            html += '<div class="builder">';
            html += '<i class="layui-icon layui-icon-camera"></i>';
            html += '<p>未选中</p>';
            html += '<div class="mask">';
            html += '<div class="item layui-auto">图库选择</div>';
            html += '<div class="item layui-auto-call">本地上传</div>';
            html += '</div></div></div>';
            html += '</div>'
            html += '<div class="form">';
            html += '<label><input type="text" name="name" placeholder="请输入名称" autocomplete="off" class="layui-input"></label>';
            html += '<label style="display: block; margin-top: 6px;">';
            html += '<input type="text" name="link" placeholder="请填写链接" autocomplete="off" class="layui-input"></label>';
            html += '</div></div>';
            $('#advDrag').append(html)
        });
    });
</script>
{/block}
