{extend name="common/layout" /}

{block name="style"}
<style>
    .phone { position: relative; margin-right: 25px; width: 360px; min-width: 360px; height: 615px; border: 1px solid #dddddd; color: #333333; background-color: #f7f7f7; }
    .phone .bottom { position: absolute; bottom: 0; display: flex; justify-content: space-between; width: 100%; height: 50px; border: 2px solid var(--theme-color); background-color: #ffffff; box-sizing: border-box; }
    .phone .bottom .item { display: flex; align-items: center; flex-direction: column; justify-content: center; width: 33.33%; }
    .phone .bottom .item img { width: 22px; height: 22px; }
    .container .layui-card { min-width: 880px; }
    .editor .layui-form-label { width: 58px; padding: 9px 0; }
    .editor .layui-input-block { margin-left: 70px; }
    .editor .thumbnail .builder,
    .editor .thumbnail .preview { width: 62px; height: 62px; }
    .editor .tabbar {
        padding: 10px;
        margin-bottom: 20px;
        border-radius: 4px;
        background: #f2f2f2;
    }
</style>
{/block}

{block name="body"}
<div class="container">
    <div class="layui-card layui-form">
        <div class="layui-card-body">
            <div style="display: flex;">
                <!-- 手机端 -->
                <div class="phone">
                    <div class="bottom">
                        {volist name="list" id="vo"}
                            <div class="item w-scale-{php}echo count($list);{/php}">
                                <img src="{$vo.iconPath}" alt="icon">
                                <div>{$vo.text}</div>
                            </div>
                        {/volist}
                    </div>
                </div>
                <!-- 编辑器 -->
                <div class="editor">
                    <!-- 样式设置 -->
                    <fieldset class="layui-elem-field">
                        <legend>样式设置</legend>
                        <div class="layui-field-box">
                            <div class="layui-form-item">
                                <label class="layui-form-label">展示效果:</label>
                                <div class="layui-input-block">
                                    <input type="radio" name="effect" value="system"
                                           title="系统默认">
                                    <input type="radio" name="effect" value="custom"
                                           title="自定义">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">导航类型:</label>
                                <div class="layui-input-block">
                                    <input type="radio" name="shape" value="default"
                                           title="底部固定">
                                    <input type="radio" name="shape" value="round"
                                           title="底部悬浮">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label for="backgroundColorInput" class="layui-form-label">背景颜色:</label>
                                <div class="layui-input-block">
                                    <div id="backgroundColor"></div>
                                    <div class="layui-inline">
                                        <input type="text" id="backgroundColorInput" name="backgroundColor"
                                               class="layui-input" value="{$style.backgroundColor}">
                                    </div>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label for="unselectedColorInput" class="layui-form-label">默认颜色:</label>
                                <div class="layui-input-block">
                                    <div id="unselectedColor"></div>
                                    <div class="layui-inline">
                                        <input type="text" id="unselectedColorInput" name="unselectedColor"
                                               class="layui-input" value="{$style.unselectedColor}">
                                    </div>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label for="selectedColorInput" class="layui-form-label">选中颜色:</label>
                                <div class="layui-input-block">
                                    <div id="selectedColor"></div>
                                    <div class="layui-inline">
                                        <input type="text" id="selectedColorInput" name="selectedColor"
                                               class="layui-input" value="{$style.selectedColor}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <!-- 导航设置 -->
                    <fieldset class="layui-elem-field" style="margin-top:30px;">
                        <legend>导航设置</legend>
                        <div class="layui-field-box wait-table-cell">
                            {volist name="$list" id="vo"}
                                <div class="tabbar">
                                    <div style="display: flex; margin-bottom: 6px;">
                                        <div class="thumbnail" data-type="image" data-field="selectedIconPath">
                                            <div class="musters">
                                                {if $vo.selectedIconPath}
                                                    <div class="preview">
                                                        <input type="hidden" name="image" value="{$vo.selectedIconPath}">
                                                        <i class="layui-icon layui-icon-close"></i>
                                                        <img src="{$vo.selectedIconPath}" alt="img" class="previewImage">
                                                    </div>
                                                {/if}
                                            </div>
                                            <div class="builder {if $vo.selectedIconPath}layui-hide{/if}">
                                                <i class="layui-icon layui-icon-camera"></i>
                                                <p>选中</p>
                                                <div class="mask">
                                                    <div class="item layui-auto">图库选择</div>
                                                    <div class="item layui-auto-call">本地上传</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="thumbnail" data-type="image" data-field="iconPath">
                                            <div class="musters">
                                                {if $vo.iconPath}
                                                    <div class="preview">
                                                        <input type="hidden" name="image" value="{$vo.iconPath}">
                                                        <i class="layui-icon layui-icon-close"></i>
                                                        <img src="{$vo.iconPath}" alt="img" class="previewImage">
                                                    </div>
                                                {/if}
                                            </div>
                                            <div class="builder {if $vo.iconPath}layui-hide{/if}">
                                                <i class="layui-icon layui-icon-camera"></i>
                                                <p>未选中</p>
                                                <div class="mask">
                                                    <div class="item layui-auto">图库选择</div>
                                                    <div class="item layui-auto-call">本地上传</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form">
                                        <label>
                                            <input type="text" name="name" value="{$vo.text}" placeholder="图片名称"
                                                      autocomplete="off" class="layui-input">
                                        </label>
                                        <label style="display: block; margin-top: 6px;">
                                            <input type="text" name="link" value="{$vo.pagePath}" placeholder="图片链接"
                                                      autocomplete="off" class="layui-input">
                                        </label>
                                    </div>
                                </div>
                            {/volist}
                        </div>
                    </fieldset>
                    <!-- 提交按钮 -->
                    <div style="margin-top:20px;">
                        <button class="layui-btn layui-btn-default {:check_perms('save', false)}"
                                lay-submit lay-filter="addForm">保存配置</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}

{block name="js"}
<script>
    layui.use(['form', 'colorpicker'], function() {
        let $ = layui.$;
        let form = layui.form;
        let colorpicker = layui.colorpicker;

        // 背景颜色
        colorpicker.render({
            elem: '#backgroundColor',
            color: '{$style.backgroundColor}'
            ,change: function(color){
                $("input[name=backgroundColor]").val(color);
            }
        });

        // 默认颜色
        colorpicker.render({
            elem: '#unselectedColor',
            color: '{$style.unselectedColor}'
            ,change: function(color){
                $("input[name=unselectedColor]").val(color);
            }
        });

        // 选中颜色
        colorpicker.render({
            elem: '#selectedColor',
            color: '{$style.selectedColor}'
            ,change: function(color){
                $("input[name=selectedColor]").val(color);
            }
        });

        // 渲染表格
        waitUtil.table({
            elem: '#wait-table-list'
            ,url: '{:route("diy.tabbar/index")}'
            ,toolbar: false
            ,page: false
            ,cols: [[
                {field:'text', title:'名称', templet:'#table-text', width:240},
                {field:'selected', title:'选中图标', width:90, align:'center', templet:'#table-selected'},
                {field:'unselected', title:'未选图标', width:90, align:'center', templet:'#table-unselected'}
            ]]
        });

        // 提交表单
        form.on('submit(addForm)', function(data){
            layer.confirm('确定保存当前配置吗?', function(index) {
                layer.close(index);

                // 样式设置
                let style = {
                    effect: data.field['effect'],
                    shape: data.field['shape'],
                    selectedColor: data.field['selectedColor'],
                    unselectedColor: data.field['unselectedColor'],
                    backgroundColor: data.field['backgroundColor']
                };

                // 导航设置
                let list = [];
                let trElems = $('.layui-table tbody tr');
                trElems.each(function () {
                    let tdElem = $(this).find('td')
                    let text = $(tdElem[0]).find('input').val();
                    let selected = $(tdElem[1]).find('img').attr('src');
                    let unselected = $(tdElem[2]).find('img').attr('src');
                    list.push({
                        text: text,
                        iconPath: unselected,
                        selectedIconPath: selected
                    });
                })

                // 提交保存
                waitUtil.ajax({
                    url: '{:route("diy.tabbar/save")}',
                    type: 'POST',
                    data: {style: style, list: list}
                });
            });
        });

        // 上传图片
        $(document).on('click', '.upload', function () {
            let that = $(this);
            waitUtil.uploader().then(data => {
                $(that).attr('src', data[0].url);
            });
        });
    });
</script>
{/block}
