{extend name="common/layout" /}

{block name="style"}
<style>
    .layui-form-label.w95 {width: 95px;}
</style>
{/block}

{block name="body"}
<div class="container">
    <div class="layui-form">
        <!-- 基础设置 -->
        <div class="layui-card">
            <div class="layui-card-header">基础设置</div>
            <div class="layui-card-body">
                <div class="layui-form-item">
                    <label for="website_favicon" class="layui-form-label">网站图标:</label>
                    <div class="layui-input-block">
                        <div class="layui-col-md4">
                            <div class="thumbnail" data-type="image" data-field="favicon" data-limit="1">
                                <div class="musters">
                                    {if $website.favicon}
                                    <div class="preview">
                                        <input type="hidden" id="website_favicon" name="website_favicon" value="{$website.favicon}">
                                        <i class="layui-icon layui-icon-close"></i>
                                        <img src="{$website.favicon}" alt="img">
                                    </div>
                                    {/if}
                                </div>
                                <div class="builder {if $website.favicon}layui-hide{/if}">
                                    <i class="layui-icon layui-icon-camera"></i>
                                    <p>上传图标</p>
                                    <div class="mask">
                                        <div class="item layui-auto">图库选择</div>
                                        <div class="item layui-auto-call">本地上传</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="website_title" class="layui-form-label">网站名称:</label>
                    <div class="layui-input-block">
                        <div class="layui-col-md4">
                            <input type="text" id="website_title" name="website_title" value="{$website.title}"
                                   class="layui-input" autocomplete="off">
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="website_copyright" class="layui-form-label">网站版权:</label>
                    <div class="layui-input-block">
                        <div class="layui-col-md4">
                            <input type="text" id="website_copyright" name="website_copyright" value="{$website.copyright}"
                                   class="layui-input" autocomplete="off">
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="website_icp" class="layui-form-label">ICP备案:</label>
                    <div class="layui-input-block">
                        <div class="layui-col-md4">
                            <input type="text" id="website_icp" name="website_icp" value="{$website.icp}"
                                   class="layui-input" autocomplete="off">
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="website_pcp" class="layui-form-label">公安备案:</label>
                    <div class="layui-input-block">
                        <div class="layui-col-md4">
                            <input type="text" id="website_pcp" name="website_pcp" value="{$website.pcp}"
                                   class="layui-input" autocomplete="off">
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="website_analyse" class="layui-form-label">统计代码:</label>
                    <div class="layui-input-block">
                        <div class="layui-col-md4">
                            <textarea id="website_analyse" name="website_analyse"
                                      class="layui-textarea" autocomplete="off">{$website.analyse}</textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 登录设置 -->
        <div class="layui-card">
            <div class="layui-card-header">登录设置</div>
            <div class="layui-card-body">
                <div class="layui-form-item">
                    <label class="layui-form-label w95"><span class="asterisk">*</span>强制绑定手机:</label>
                    <div class="layui-input-inline">
                        <input type="radio" name="force_mobile" value="1" title="开启" {if $login.force_mobile==1}checked{/if}>
                        <input type="radio" name="force_mobile" value="0" title="关闭" {if $login.force_mobile==0}checked{/if}>
                        <div class="layui-form-mid layui-word-aux" style="white-space:nowrap;">用户登录注册时检测到尚未绑定手机,提示强制绑定手机号</div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label w95"><span class="asterisk">*</span>通用登录方式:</label>
                    <div class="layui-input-block">
                        <input type="checkbox" name="login_modes[]" value="1" title="手机短信登录" lay-skin="primary" {if in_array(1, $login.login_modes)}checked{/if}>
                        <input type="checkbox" name="login_modes[]" value="2" title="账号密码登录" lay-skin="primary" {if in_array(2, $login.login_modes)}checked{/if}>
                    </div>
                    <div class="layui-form-mid layui-word-aux">全局系统通用的登录方式,至少勾选一项</div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label w95">第三方登录:</label>
                    <div class="layui-input-block">
                        <input type="checkbox" name="login_other[]" value="1" title="微信登录" lay-skin="primary" {if in_array(1, $login.login_other)}checked{/if}>
                    </div>
                    <div class="layui-form-mid layui-word-aux">支持第三方授权登录,开启后新用户授权即自动注册账号</div>
                </div>
            </div>
        </div>

        <!-- 保存配置 -->
        <div class="layui-card">
            <div class="layui-card-body">
                <button class="layui-btn layui-btn-default" lay-submit lay-filter="addForm">保存配置</button>
            </div>
        </div>
    </div>
</div>
{/block}

{block name="js"}
<script>
    layui.use('form', function () {
        let form = layui.form;

        form.on('submit(addForm)', function(data) {
            waitUtil.locking(this)
            layer.confirm('确定保存当前配置吗?', function (index) {
                layer.close(index);
                waitUtil.ajax({
                    url: '{:route("setting.basics/save")}',
                    type: "POST",
                    data: data.field
                });
            });
        });
    });
</script>
{/block}