{extend name="common/layout" /}

{block name="style"}
<style>
    .layui-tab-item { padding: 0 20px; }
    .layui-elem-field .layui-field-box { padding-top: 20px; }
    .layui-form-item .layui-input-inline { width: 410px; }
</style>
{/block}

{block name="body"}
<div class="container">
    <div class="layui-card layui-form">
        <div class="layui-tab layui-tab-card" lay-filter="tab">
            <ul class="layui-tab-title">
                <li data-tab="wx" class="layui-this">微信小程序</li>
                <li data-tab="oa">微信公众号</li>
                <li data-tab="op">微信开发平台</li>
            </ul>
            <div class="layui-tab-content">
                <!-- 1、微信小程序 -->
                <div class="layui-tab-item layui-show">
                    <fieldset class="layui-elem-field layui-field-title">
                        <legend>微信小程序</legend>
                        <div class="layui-field-box">
                            <div class="layui-form-item">
                                <label for="wx_name" class="layui-form-label">小程序名称：</label>
                                <div class="layui-input-inline">
                                    <input type="text" id="wx_name" name="wx_name" value="{$detail.wx.name}" class="layui-input" autocomplete="off">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label for="wx_original_id" class="layui-form-label">原始ID：</label>
                                <div class="layui-input-inline">
                                    <input type="text" id="wx_original_id" name="wx_original_id" value="{$detail.wx.original_id}" class="layui-input" autocomplete="off">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label for="wx_qr_code" class="layui-form-label">二维码：</label>
                                <div class="layui-input-inline">
                                    <div class="thumbnail" data-type="image" data-field="wx_qr_code" data-limit="1">
                                        <div class="musters">
                                            {if $detail.wx.qr_code}
                                                <div class="preview">
                                                    <input type="hidden" id="wx_qr_code" name="wx_qr_code" value="{$detail.wx.qr_code}">
                                                    <i class="layui-icon layui-icon-close"></i>
                                                    <img src="{$detail.wx.qr_code}" alt="img" class="previewImage">
                                                </div>
                                            {/if}
                                        </div>
                                        <div class="builder {if $detail.wx.qr_code}layui-hide{/if}">
                                            <i class="layui-icon layui-icon-camera"></i>
                                            <p>二维码</p>
                                            <div class="mask">
                                                <div class="item layui-auto">图库选择</div>
                                                <div class="item layui-auto-call">本地上传</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="layui-elem-field layui-field-title">
                        <legend>开发者ID</legend>
                        <div class="layui-field-box">
                            <div class="layui-form-item">
                                <label for="wx_app_id" class="layui-form-label"><span class="asterisk">*</span>AppID：</label>
                                <div class="layui-input-inline">
                                    <input type="text" id="wx_app_id" name="wx_app_id" value="{$detail.wx.app_id}" class="layui-input" autocomplete="off">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label for="wx_app_secret" class="layui-form-label"><span class="asterisk">*</span>AppSecret：</label>
                                <div class="layui-input-inline">
                                    <input type="text" id="wx_app_secret" name="wx_app_secret" value="{$detail.wx.app_secret}" class="layui-input" autocomplete="off">
                                    <div class="layui-form-mid layui-word-aux">扫码登录微信小程序平台：开发 > 基本配置 > 开发者ID</div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <!-- 2、微信公众号 -->
                <div class="layui-tab-item">
                    <fieldset class="layui-elem-field layui-field-title">
                        <legend>微信公众号</legend>
                        <div class="layui-field-box">
                            <div class="layui-form-item">
                                <label for="oa_name" class="layui-form-label">公众号名称：</label>
                                <div class="layui-input-inline">
                                    <input type="text" id="oa_name" name="oa_name" value="{$detail.oa.name}" class="layui-input" autocomplete="off">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label for="oa_original_id" class="layui-form-label">原始ID：</label>
                                <div class="layui-input-inline">
                                    <input type="text" id="oa_original_id" name="oa_original_id" value="{$detail.oa.original_id}" class="layui-input" autocomplete="off">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label for="oa_qr_code" class="layui-form-label">二维码：</label>
                                <div class="layui-input-inline">
                                    <div class="layui-input-inline">
                                        <div class="thumbnail" data-type="image" data-field="oa_qr_code" data-limit="1">
                                            <div class="musters">
                                                {if $detail.oa.qr_code}
                                                    <div class="preview">
                                                        <input type="hidden" id="oa_qr_code" name="oa_qr_code" value="{$detail.oa.qr_code}">
                                                        <i class="layui-icon layui-icon-close"></i>
                                                        <img src="{$detail.oa.qr_code}" alt="img" class="previewImage">
                                                    </div>
                                                {/if}
                                            </div>
                                            <div class="builder {if $detail.oa.qr_code}layui-hide{/if}">
                                                <i class="layui-icon layui-icon-camera"></i>
                                                <p>二维码</p>
                                                <div class="mask">
                                                    <div class="item layui-auto">图库选择</div>
                                                    <div class="item layui-auto-call">本地上传</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="layui-elem-field layui-field-title">
                        <legend>公众号开发者</legend>
                        <div class="layui-field-box">
                            <div class="layui-form-item">
                                <label for="oa_app_id" class="layui-form-label"><span class="asterisk">*</span>AppID：</label>
                                <div class="layui-input-inline">
                                    <input type="text" id="oa_app_id" name="oa_app_id" value="{$detail.oa.app_id}" class="layui-input" autocomplete="off">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label for="oa_app_secret" class="layui-form-label"><span class="asterisk">*</span>AppSecret：</label>
                                <div class="layui-input-inline">
                                    <input type="text" id="oa_app_secret" name="oa_app_secret" value="{$detail.oa.app_secret}" class="layui-input" autocomplete="off">
                                    <div class="layui-form-mid layui-word-aux">登录微信公众平台，点击开发>基本配置>公众号开发信息</div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <!-- 3、微信开放平台 -->
                <div class="layui-tab-item">
                    <fieldset class="layui-elem-field layui-field-title">
                        <legend>微信开放平台</legend>
                        <div class="layui-field-box">
                            <div class="layui-form-item">
                                <label for="op_app_id" class="layui-form-label"><span class="asterisk">*</span>AppID：</label>
                                <div class="layui-input-inline">
                                    <input type="text" id="op_app_id" name="op_app_id" value="{$detail.op.app_id}" class="layui-input" autocomplete="off">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label for="op_app_secret" class="layui-form-label"><span class="asterisk">*</span>AppSecret：</label>
                                <div class="layui-input-inline">
                                    <input type="text" id="op_app_secret" name="op_app_secret" value="{$detail.op.app_secret}" class="layui-input" autocomplete="off">
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <!-- 6、保存 -->
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn layui-btn-default" lay-submit lay-filter="addForm">保存配置</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}

{block name="js"}
<script>
    layui.use(['form'], function () {
        let form = layui.form;

        // 提交表单
        form.on('submit(addForm)', function(data){
            layer.confirm('确定保存当前配置吗?', function(index) {
                layer.close(index);
                waitUtil.ajax({
                    url: '{:route("setting.channel/save")}',
                    type: "POST",
                    data: data.field
                });
            });
        });
    });
</script>
{/block}