{extend name="common/layout" /}

{block name="style"}
<style>
    .layui-tab-item { padding: 0 20px; }
    .layui-elem-field .layui-field-box { padding-top: 20px; }
    .layui-form-item .layui-input-inline { width: 410px; }
</style>
{/block}

{block name="body"}
<div class="container">
    <div class="layui-card layui-form">
        <div class="layui-tab layui-tab-card">
            <ul class="layui-tab-title">
                <li class="layui-this">微信小程序</li>
                <li>微信公众号</li>
                <li>微信开发平台</li>
                <li>H5端</li>
            </ul>
            <div class="layui-tab-content">
                <!-- 1、微信小程序 -->
                <div class="layui-tab-item layui-show">
                    <fieldset class="layui-elem-field layui-field-title">
                        <legend>微信小程序</legend>
                        <div class="layui-field-box">
                            <div class="layui-form-item">
                                <label for="wxName" class="layui-form-label">小程序名称：</label>
                                <div class="layui-input-inline">
                                    <input type="text" id="wxName" name="wxName" value="{$detail.wx.name}"
                                           class="layui-input" autocomplete="off">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label for="wxOriginalId" class="layui-form-label">原始ID：</label>
                                <div class="layui-input-inline">
                                    <input type="text" id="wxOriginalId" name="wxOriginalId" value="{$detail.wx.originalId}"
                                           class="layui-input" autocomplete="off">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label for="wxQrCode" class="layui-form-label">二维码：</label>
                                <div class="layui-input-inline">
                                    <div class="thumbnail" data-type="image" data-field="wxQrCode" data-limit="1">
                                        <div class="musters">
                                            {if $detail.wx.qrCode}
                                                <div class="preview">
                                                    <input type="hidden" id="wxQrCode" name="wxQrCode" value="{$detail.wx.qrCode}">
                                                    <i class="layui-icon layui-icon-close"></i>
                                                    <img src="{$detail.wx.qrCode}" alt="img">
                                                </div>
                                            {/if}
                                        </div>
                                        <div class="builder {if $detail.wx.qrCode}layui-hide{/if}">
                                            <i class="layui-icon layui-icon-camera"></i>
                                            <p>二维码</p>
                                            <div class="mask">
                                                <div class="item layui-auto">图库选择</div>
                                                <div class="item layui-auto-call">本地上传</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="layui-elem-field layui-field-title">
                        <legend>开发者ID</legend>
                        <div class="layui-field-box">
                            <div class="layui-form-item">
                                <label for="wxAppId" class="layui-form-label"><span class="asterisk">*</span>AppID：</label>
                                <div class="layui-input-inline">
                                    <input type="text" id="wxAppId" name="wxAppId" value="{$detail.wx.appId}" class="layui-input" autocomplete="off">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label for="wxAppSecret" class="layui-form-label"><span class="asterisk">*</span>AppSecret：</label>
                                <div class="layui-input-inline">
                                    <input type="text" id="wxAppSecret" name="wxAppSecret" value="{$detail.wx.appSecret}" class="layui-input" autocomplete="off">
                                    <div class="layui-form-mid layui-word-aux">扫码登录微信小程序平台：开发 > 基本配置 > 开发者ID</div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <!-- 2、微信公众号 -->
                <div class="layui-tab-item">
                    <fieldset class="layui-elem-field layui-field-title">
                        <legend>微信公众号</legend>
                        <div class="layui-field-box">
                            <div class="layui-form-item">
                                <label for="oaName" class="layui-form-label">公众号名称：</label>
                                <div class="layui-input-inline">
                                    <input type="text" id="oaName" name="oaName" value="{$detail.oa.name}"
                                            class="layui-input" autocomplete="off">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label for="oaOriginalId" class="layui-form-label">原始ID：</label>
                                <div class="layui-input-inline">
                                    <input type="text" id="oaOriginalId"  name="oaOriginalId" value="{$detail.oa.originalId}"
                                           class="layui-input" autocomplete="off">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label for="oaQrCode" class="layui-form-label">二维码：</label>
                                <div class="layui-input-inline">
                                    <div class="layui-input-inline">
                                        <div class="thumbnail" data-type="image" data-field="oaQrCode" data-limit="1">
                                            <div class="musters">
                                                {if $detail.oa.qrCode}
                                                    <div class="preview">
                                                        <input type="hidden" id="oaQrCode" name="oaQrCode" value="{$detail.oa.qrCode}">
                                                        <i class="layui-icon layui-icon-close"></i>
                                                        <img src="{$detail.oa.qrCode}" alt="img">
                                                    </div>
                                                {/if}
                                            </div>
                                            <div class="builder {if $detail.oa.qrCode}layui-hide{/if}">
                                                <i class="layui-icon layui-icon-camera"></i>
                                                <p>二维码</p>
                                                <div class="mask">
                                                    <div class="item layui-auto">图库选择</div>
                                                    <div class="item layui-auto-call">本地上传</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="layui-elem-field layui-field-title">
                        <legend>公众号开发者</legend>
                        <div class="layui-field-box">
                            <div class="layui-form-item">
                                <label for="oaAppId" class="layui-form-label"><span class="asterisk">*</span>AppID：</label>
                                <div class="layui-input-inline">
                                    <input type="text" id="oaAppId" name="oaAppId" value="{$detail.oa.appId}"
                                           class="layui-input" autocomplete="off">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label for="oaAppSecret" class="layui-form-label"><span class="asterisk">*</span>AppSecret：</label>
                                <div class="layui-input-inline">
                                    <input type="text" id="oaAppSecret" name="oaAppSecret" value="{$detail.oa.appSecret}"
                                           class="layui-input" autocomplete="off">
                                    <div class="layui-form-mid layui-word-aux">登录微信公众平台，点击开发>基本配置>公众号开发信息</div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <!-- 3、微信开放平台 -->
                <div class="layui-tab-item">
                    <fieldset class="layui-elem-field layui-field-title">
                        <legend>微信开放平台</legend>
                        <div class="layui-field-box">
                            <div class="layui-form-item">
                                <label for="opAppId" class="layui-form-label"><span class="asterisk">*</span>AppID：</label>
                                <div class="layui-input-inline">
                                    <input type="text" id="opAppId" name="opAppId" value="{$detail.op.appId}"
                                           class="layui-input" autocomplete="off">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label for="opAppSecret" class="layui-form-label"><span class="asterisk">*</span>AppSecret：</label>
                                <div class="layui-input-inline">
                                    <input type="text" id="opAppSecret" name="opAppSecret" value="{$detail.op.appSecret}"
                                           class="layui-input" autocomplete="off">
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <!-- 4、H5 -->
                 <div class="layui-tab-item">
                     <div class="layui-form-item">
                         <label class="layui-form-label"><span class="asterisk">*</span>渠道状态：</label>
                         <div class="layui-input-inline">
                             <input type="radio" name="h5Status" value="1" title="开启" {if $detail.h5.status==1}checked{/if}>
                             <input type="radio" name="h5Status" value="0" title="关闭" {if $detail.h5.status==0}checked{/if}>
                         </div>
                     </div>
                     <div class="layui-form-item">
                         <label for="h5CloseUrl" class="layui-form-label">关闭页面：</label>
                         <div class="layui-input-inline">
                             <input type="text" id="h5CloseUrl" name="h5CloseUrl" value="{$detail.h5.closeUrl}"
                                    class="layui-input" autocomplete="off">
                         </div>
                     </div>
                 </div>
                <!-- 6、保存 -->
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn layui-btn-default" lay-submit lay-filter="addForm">保存配置</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}

{block name="js"}
<script>
    layui.use(['form'], function () {
        let form = layui.form;

        // 提交表单
        form.on('submit(addForm)', function(data){
            layer.confirm('确定保存当前配置吗?', function(index) {
                layer.close(index);
                waitUtil.ajax({
                    url: '{:route("setting.channel/save")}',
                    type: "POST",
                    data: data.field
                });
            });
        });
    });
</script>
{/block}