{extend name="common/layout" /}

{block name="body"}
<div class="container">
    <div class="layui-card layui-form">
        <div class="layui-card-header">邮件设置</div>
        <div class="layui-card-body">
            <div class="layui-form-item">
                <label for="smtpType" class="layui-form-label">发送的方式:</label>
                <div class="layui-input-block">
                    <div class="layui-col-md4">
                        <select name="smtpType" id="smtpType">
                            <option value="">请选择</option>
                            <option value="smtp" {if $detail.smtpType=="smtp"}selected{/if}>SMTP</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <label for="smtpHost" class="layui-form-label">SMTP服务:</label>
                <div class="layui-input-block">
                    <div class="layui-col-md4">
                        <input type="text" id="smtpHost" name="smtpHost" value="{$detail.smtpHost}"
                               class="layui-input" autocomplete="off" placeholder="smtp.163.com">
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <label for="smtpPort" class="layui-form-label">SMTP端口:</label>
                <div class="layui-input-block">
                    <div class="layui-col-md4">
                        <input type="text" id="smtpPort" name="smtpPort" value="{$detail.smtpPort}"
                               class="layui-input" autocomplete="off" placeholder="25">
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <label for="smtpUser" class="layui-form-label">SMTP账号:</label>
                <div class="layui-input-block">
                    <div class="layui-col-md4">
                        <input type="text" id="smtpUser" name="smtpUser" value="{$detail.smtpUser}"
                               class="layui-input" autocomplete="off">
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <label for="smtpPass" class="layui-form-label">SMTP密码:</label>
                <div class="layui-input-block">
                    <div class="layui-col-md4">
                        <input type="text" id="smtpPass" name="smtpPass" value="{$detail.smtpPass}"
                               class="layui-input" autocomplete="off">
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <label for="verifyType" class="layui-form-label">SMTP验证:</label>
                <div class="layui-input-block">
                    <div class="layui-col-md4">
                        <select name="verifyType" id="verifyType">
                            <option value="">默认</option>
                            <option value="tls" {if $detail.verifyType=="tls"}selected{/if}>TLS</option>
                            <option value="ssl" {if $detail.verifyType=="ssl"}selected{/if}>SSL</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <label for="fromUser" class="layui-form-label">发件人邮箱:</label>
                <div class="layui-input-block">
                    <div class="layui-col-md3">
                        <input type="text" id="fromUser" name="fromUser" value="{$detail.fromUser}"
                               class="layui-input" autocomplete="off">
                    </div>
                    <div class="layui-form-mid" style="padding:0 0 0 5px !important; margin-top:4px;">
                        <button type="button" class="layui-btn layui-btn-sm layui-btn-default" lay-event="test">测试发送</button>
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn layui-btn-default" lay-submit lay-filter="addForm">保存配置</button>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}

{block name="js"}
<script>
    layui.use('form', function () {
        let form = layui.form;

        form.on('submit(addForm)', function(data) {
            layer.confirm('确定保存当前配置吗?', function (index) {
                layer.close(index);
                waitUtil.ajax({
                    url: '{:route("setting.email/save")}',
                    type: "POST",
                    data: data.field
                });
            });
        });

        waitUtil.event({
            test: function () {
                let that = this;
                layer.prompt({title: '请输入测试接收邮箱', formType: 3, value: ''}, function (value, index) {
                    layer.close(index);
                    waitUtil.locking(that);
                    waitUtil.ajax({
                        url: '{:route("setting.email/test")}',
                        type: "POST",
                        data: {recipient: value}
                    }).then(() => {
                        waitUtil.unlock(that);
                    });
                });
            }
        })
    });
</script>
{/block}