{extend name="common/layout" /}

{block name="style"}
<style>
    .layui-card .layui-form-label { width: 95px; }
    .layui-card .layui-input-block { margin-left: 125px; }
</style>
{/block}

{block name="body"}
<div class="container">
    <div class="layui-form">
        <!-- PC端设置 -->
        <div class="layui-card">
            <div class="layui-card-header">PC端设置</div>
            <div class="layui-card-body">
                <!-- 显示登录协议 -->
                <div class="layui-form-item">
                    <label class="layui-form-label"><span class="asterisk">*</span>显示登录协议:</label>
                    <div class="layui-input-block">
                        <input type="radio" name="pc_is_agreement" value="1"
                               title="开启" {if $detail.pc_is_agreement==1}checked{/if}>
                        <input type="radio" name="pc_is_agreement" value="0"
                               title="关闭" {if $detail.pc_is_agreement==0}checked{/if}>
                    </div>
                </div>
                <!-- 强制绑定手机 -->
                <div class="layui-form-item">
                    <label class="layui-form-label"><span class="asterisk">*</span>强制绑定手机:</label>
                    <div class="layui-input-block">
                        <input type="radio" name="pc_force_mobile" value="1"
                               title="开启" {if $detail.pc_force_mobile==1}checked{/if}>
                        <input type="radio" name="pc_force_mobile" value="0"
                               title="关闭" {if $detail.pc_force_mobile==0}checked{/if}>
                    </div>
                </div>
                <!-- 默认登录方式 -->
                <div class="layui-form-item">
                    <label class="layui-form-label"><span class="asterisk">*</span>默认登录方式:</label>
                    <div class="layui-input-block">
                        <input type="radio" name="pc_default" value="account"
                               title="账号登录" {if $detail.pc_default==1}checked{/if}>
                        <input type="radio" name="pc_default" value="mobile"
                               title="短信登录" {if $detail.pc_default==0}checked{/if}>
                        <input type="radio" name="pc_default" value="wx"
                               title="微信登录" {if $detail.pc_default==0}checked{/if}>
                    </div>
                </div>
                <!-- 通用登录方式 -->
                <div class="layui-form-item">
                    <label class="layui-form-label"><span class="asterisk">*</span>可用登录方式:</label>
                    <div class="layui-input-block">
                        <input type="checkbox" name="pc_channel[]" value="account" title="账号登录"
                               lay-skin="tag" {if in_array('account', $detail.pc_channel)}checked{/if}>
                        <input type="checkbox" name="pc_channel[]" value=mobile title="短信登录"
                               lay-skin="tag" {if in_array('mobile', $detail.pc_channel)}checked{/if}>
                        <input type="checkbox" name="pc_channel[]" value=wx title="微信登录"
                               lay-skin="tag" {if in_array('wx', $detail.pc_channel)}checked{/if}>
                    </div>
                </div>
            </div>
        </div>

        <!-- H5端设置 -->
        <div class="layui-card">
            <div class="layui-card-header">H5端设置</div>
            <div class="layui-card-body">
                <!-- 显示登录协议 -->
                <div class="layui-form-item">
                    <label class="layui-form-label"><span class="asterisk">*</span>显示登录协议:</label>
                    <div class="layui-input-block">
                        <input type="radio" name="h5_is_agreement" value="1"
                               title="开启" {if $detail.h5_is_agreement==1}checked{/if}>
                        <input type="radio" name="h5_is_agreement" value="0"
                               title="关闭" {if $detail.h5_is_agreement==0}checked{/if}>
                    </div>
                </div>
                <!-- 强制绑定手机 -->
                <div class="layui-form-item">
                    <label class="layui-form-label"><span class="asterisk">*</span>强制绑定手机:</label>
                    <div class="layui-input-block">
                        <input type="radio" name="h5_force_mobile" value="1"
                               title="开启" {if $detail.h5_force_mobile==1}checked{/if}>
                        <input type="radio" name="h5_force_mobile" value="0"
                               title="关闭" {if $detail.h5_force_mobile==0}checked{/if}>
                    </div>
                </div>
                <!-- 默认登录方式 -->
                <div class="layui-form-item">
                    <label class="layui-form-label"><span class="asterisk">*</span>默认登录方式:</label>
                    <div class="layui-input-block">
                        <input type="radio" name="h5_default" value="account"
                               title="账号登录" {if $detail.h5_default==1}checked{/if}>
                        <input type="radio" name="h5_default" value="mobile"
                               title="短信登录" {if $detail.h5_default==0}checked{/if}>
                        <input type="radio" name="h5_default" value="wx"
                               title="微信登录" {if $detail.h5_default==0}checked{/if}>
                    </div>
                </div>
                <!-- 通用登录方式 -->
                <div class="layui-form-item">
                    <label class="layui-form-label"><span class="asterisk">*</span>可用登录方式:</label>
                    <div class="layui-input-block">
                        <input type="checkbox" name="h5_channel[]" value="account" title="账号登录"
                               lay-skin="tag" {if in_array('account', $detail.h5_channel)}checked{/if}>
                        <input type="checkbox" name="h5_channel[]" value=mobile title="短信登录"
                               lay-skin="tag" {if in_array('mobile', $detail.h5_channel)}checked{/if}>
                        <input type="checkbox" name="h5_channel[]" value=wx title="微信登录"
                               lay-skin="tag" {if in_array('wx', $detail.h5_channel)}checked{/if}>
                    </div>
                </div>
            </div>
        </div>

        <!-- 微信端设置 -->
        <div class="layui-card">
            <div class="layui-card-header">微信端设置</div>
            <div class="layui-card-body">
                <!-- 显示登录协议 -->
                <div class="layui-form-item">
                    <label class="layui-form-label"><span class="asterisk">*</span>显示登录协议:</label>
                    <div class="layui-input-block">
                        <input type="radio" name="wx_is_agreement" value="1"
                               title="开启" {if $detail.wx_is_agreement==1}checked{/if}>
                        <input type="radio" name="wx_is_agreement" value="0"
                               title="关闭" {if $detail.wx_is_agreement==0}checked{/if}>
                    </div>
                </div>
                <!-- 强制绑定手机 -->
                <div class="layui-form-item">
                    <label class="layui-form-label"><span class="asterisk">*</span>强制绑定手机:</label>
                    <div class="layui-input-block">
                        <input type="radio" name="force_mobile" value="1"
                               title="开启" {if $detail.wx_force_mobile==1}checked{/if}>
                        <input type="radio" name="force_mobile" value="0"
                               title="关闭" {if $detail.wx_force_mobile==0}checked{/if}>
                    </div>
                </div>
                <!-- 默认登录方式 -->
                <div class="layui-form-item">
                    <label class="layui-form-label"><span class="asterisk">*</span>默认登录方式:</label>
                    <div class="layui-input-block">
                        <input type="radio" name="wx_default" value="account"
                               title="账号登录" {if $detail.wx_default==1}checked{/if}>
                        <input type="radio" name="wx_default" value="mobile"
                               title="短信登录" {if $detail.wx_default==0}checked{/if}>
                        <input type="radio" name="wx_default" value="wx"
                               title="微信登录" {if $detail.wx_default==0}checked{/if}>
                    </div>
                </div>
                <!-- 通用登录方式 -->
                <div class="layui-form-item">
                    <label class="layui-form-label"><span class="asterisk">*</span>可用登录方式:</label>
                    <div class="layui-input-block">
                        <input type="checkbox" name="wx_channel[]" value="account" title="账号登录"
                               lay-skin="tag" {if in_array('account', $detail.wx_channel)}checked{/if}>
                        <input type="checkbox" name="wx_channel[]" value=mobile title="短信登录"
                               lay-skin="tag" {if in_array('mobile', $detail.wx_channel)}checked{/if}>
                        <input type="checkbox" name="wx_channel[]" value=wx title="微信登录"
                               lay-skin="tag" {if in_array('wx', $detail.wx_channel)}checked{/if}>
                    </div>
                </div>
            </div>
        </div>

        <!-- 其它端设置 -->
        <div class="layui-card">
            <div class="layui-card-header">其它端设置</div>
            <div class="layui-card-body">
                <!-- 显示登录协议 -->
                <div class="layui-form-item">
                    <label class="layui-form-label"><span class="asterisk">*</span>显示登录协议:</label>
                    <div class="layui-input-block">
                        <input type="radio" name="other_is_agreement" value="1"
                               title="开启" {if $detail.other_is_agreement==1}checked{/if}>
                        <input type="radio" name="other_is_agreement" value="0"
                               title="关闭" {if $detail.other_is_agreement==0}checked{/if}>
                    </div>
                </div>
                <!-- 强制绑定手机 -->
                <div class="layui-form-item">
                    <label class="layui-form-label"><span class="asterisk">*</span>强制绑定手机:</label>
                    <div class="layui-input-block">
                        <input type="radio" name="other_force_mobile" value="1"
                               title="开启" {if $detail.other_force_mobile==1}checked{/if}>
                        <input type="radio" name="other_force_mobile" value="0"
                               title="关闭" {if $detail.other_force_mobile==0}checked{/if}>
                    </div>
                </div>
                <!-- 默认登录方式 -->
                <div class="layui-form-item">
                    <label class="layui-form-label"><span class="asterisk">*</span>默认登录方式:</label>
                    <div class="layui-input-block">
                        <input type="radio" name="other_default" value="account"
                               title="账号登录" {if $detail.other_default==1}checked{/if}>
                        <input type="radio" name="other_default" value="mobile"
                               title="短信登录" {if $detail.other_default==0}checked{/if}>
                        <input type="radio" name="other_default" value="wx"
                               title="微信登录" {if $detail.other_default==0}checked{/if}>
                    </div>
                </div>
                <!-- 通用登录方式 -->
                <div class="layui-form-item">
                    <label class="layui-form-label"><span class="asterisk">*</span>可用登录方式:</label>
                    <div class="layui-input-block">
                        <input type="checkbox" name="other_channel[]" value="account" title="账号登录"
                               lay-skin="tag" {if in_array('account', $detail.other_channel)}checked{/if}>
                        <input type="checkbox" name="other_channel[]" value=mobile title="短信登录"
                               lay-skin="tag" {if in_array('mobile', $detail.other_channel)}checked{/if}>
                        <input type="checkbox" name="other_channel[]" value=wx title="微信登录"
                               lay-skin="tag" {if in_array('wx', $detail.other_channel)}checked{/if}>
                    </div>
                </div>
            </div>
        </div>

        <!-- 保存配置 -->
        <div class="layui-card">
            <div class="layui-card-body">
                <button class="layui-btn layui-btn-default {:check_perms('save', false)}"
                        lay-submit lay-filter="addForm">保存配置</button>
            </div>
        </div>
    </div>
</div>
{/block}

{block name="js"}
<script>
    layui.use('form', function () {
        let form = layui.form;

        form.on('submit(addForm)', function(data) {
            layer.confirm('确定保存当前配置吗?', function (index) {
                layer.close(index);
                waitUtil.ajax({
                    url: '{:route("setting.login/save")}',
                    type: "POST",
                    data: data.field
                });
            });
        });
    });
</script>
{/block}