{extend name="common/layout" /}

{block name="style"}
<style>
    .layui-card .layui-form-label { width: 95px; }
    .layui-card .layui-input-block { margin-left: 125px; }
</style>
{/block}

{block name="body"}
<div class="container">
    <div class="layui-form">
        <!-- 微信端设置 -->
        <div class="layui-card">
            <div class="layui-card-header">基础配置</div>
            <div class="layui-card-body">
                <!-- logo -->
                <div class="layui-form-item">
                    <div class="layui-form-label"><span class="asterisk">*</span>登录logo:</div>
                    <div class="layui-input-block">
                        <div class="layui-col-md4">
                            <div class="thumbnail" data-type="image" data-field="basis_logo" data-limit="1">
                                <div class="musters">
                                    {if $detail.basis_logo}
                                        <div class="preview">
                                            <input type="hidden" id="basis_logo"
                                                   name="basis_logo" value="{$detail.basis_logo}">
                                            <i class="layui-icon layui-icon-close"></i>
                                            <img src="{$detail.basis_logo}" alt="img" class="previewImage">
                                        </div>
                                    {/if}
                                </div>
                                <div class="builder layui-auto {if $detail.basis_logo}layui-hide{/if}">
                                    <i class="layui-icon layui-icon-camera"></i>
                                    <p>上传图标</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 描述 -->
                <div class="layui-form-item">
                    <label for="basis_tips" class="layui-form-label">
                        <span class="asterisk">*</span>登录提示:
                    </label>
                    <div class="layui-input-block">
                        <div class="layui-col-md4">
                            <input type="text" id="basis_tips" name="basis_tips"
                                   value="{$detail.basis_tips}" class="layui-input" autocomplete="off">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 微信端设置 -->
        <div class="layui-card">
            <div class="layui-card-header">微信端登录设置</div>
            <div class="layui-card-body">
                <!-- 显示登录协议 -->
                <div class="layui-form-item">
                    <label class="layui-form-label"><span class="asterisk">*</span>显示登录协议:</label>
                    <div class="layui-input-block">
                        <input type="radio" name="wx_is_agreement" value="1"
                               title="开启" {if $detail.wx_is_agreement==1}checked{/if}>
                        <input type="radio" name="wx_is_agreement" value="0"
                               title="关闭" {if $detail.wx_is_agreement==0}checked{/if}>
                    </div>
                </div>
                <!-- 强制绑定手机 -->
                <div class="layui-form-item">
                    <label class="layui-form-label"><span class="asterisk">*</span>强制绑定手机:</label>
                    <div class="layui-input-block">
                        <input type="radio" name="wx_force_mobile" value="1"
                               title="开启" {if $detail.wx_force_mobile==1}checked{/if}>
                        <input type="radio" name="wx_force_mobile" value="0"
                               title="关闭" {if $detail.wx_force_mobile==0}checked{/if}>
                    </div>
                </div>
                <!-- 默认登录方式 -->
                <div class="layui-form-item">
                    <label class="layui-form-label"><span class="asterisk">*</span>默认登录方式:</label>
                    <div class="layui-input-block">
                        {foreach $detail.clients as $k => $v}
                            {if $detail.wx_default_method == $k}
                                <input type="radio" name="wx_default_method"
                                       value="{$k}" title="{$v}" checked />
                            {else}
                                <input type="radio" name="wx_default_method" value="{$k}" title="{$v}" />
                            {/if}
                        {/foreach}
                    </div>
                </div>
                <!-- 可用登录方式 -->
                <div class="layui-form-item">
                    <label class="layui-form-label"><span class="asterisk">*</span>可用登录方式:</label>
                    <div class="layui-input-block">
                        {foreach $detail.clients as $k => $v}
                            {if in_array($k, $detail.wx_usable_channel)}
                                <input type="checkbox" name="wx_usable_channel[]"
                                       value="{$k}" title="{$v}" lay-skin="tag" checked />
                            {else}
                                <input type="checkbox" name="wx_usable_channel[]"
                                       value="{$k}" title="{$v}" lay-skin="tag"  />
                            {/if}
                        {/foreach}
                    </div>
                </div>
            </div>
        </div>

        <!-- PC端设置 -->
        <div class="layui-card">
            <div class="layui-card-header">PC端登录设置</div>
            <div class="layui-card-body">
                <!-- 显示登录协议 -->
                <div class="layui-form-item">
                    <label class="layui-form-label"><span class="asterisk">*</span>显示登录协议:</label>
                    <div class="layui-input-block">
                        <input type="radio" name="pc_is_agreement" value="1"
                               title="开启" {if $detail.pc_is_agreement==1}checked{/if}>
                        <input type="radio" name="pc_is_agreement" value="0"
                               title="关闭" {if $detail.pc_is_agreement==0}checked{/if}>
                    </div>
                </div>
                <!-- 强制绑定手机 -->
                <div class="layui-form-item">
                    <label class="layui-form-label"><span class="asterisk">*</span>强制绑定手机:</label>
                    <div class="layui-input-block">
                        <input type="radio" name="pc_force_mobile" value="1"
                               title="开启" {if $detail.pc_force_mobile==1}checked{/if}>
                        <input type="radio" name="pc_force_mobile" value="0"
                               title="关闭" {if $detail.pc_force_mobile==0}checked{/if}>
                    </div>
                </div>
                <!-- 默认登录方式 -->
                <div class="layui-form-item">
                    <label class="layui-form-label"><span class="asterisk">*</span>默认登录方式:</label>
                    <div class="layui-input-block">
                        {foreach $detail.clients as $k => $v}
                            {if $detail.pc_default_method == $k}
                                <input type="radio" name="pc_default_method"
                                       value="{$k}" title="{$v}" checked />
                            {else}
                                <input type="radio" name="pc_default_method" value="{$k}" title="{$v}" />
                            {/if}
                        {/foreach}
                    </div>
                </div>
                <!-- 可用登录方式 -->
                <div class="layui-form-item">
                    <label class="layui-form-label"><span class="asterisk">*</span>可用登录方式:</label>
                    <div class="layui-input-block">
                        {foreach $detail.clients as $k => $v}
                            {if in_array($k, $detail.pc_usable_channel)}
                                <input type="checkbox" name="pc_usable_channel[]"
                                       value="{$k}" title="{$v}" lay-skin="tag" checked />
                            {else}
                                <input type="checkbox" name="pc_usable_channel[]"
                                       value="{$k}" title="{$v}" lay-skin="tag"  />
                            {/if}
                        {/foreach}
                    </div>
                </div>
            </div>
        </div>

        <!-- H5端设置 -->
        <div class="layui-card">
            <div class="layui-card-header">H5端登录设置</div>
            <div class="layui-card-body">
                <!-- 显示登录协议 -->
                <div class="layui-form-item">
                    <label class="layui-form-label"><span class="asterisk">*</span>显示登录协议:</label>
                    <div class="layui-input-block">
                        <input type="radio" name="h5_is_agreement" value="1"
                               title="开启" {if $detail.h5_is_agreement==1}checked{/if}>
                        <input type="radio" name="h5_is_agreement" value="0"
                               title="关闭" {if $detail.h5_is_agreement==0}checked{/if}>
                    </div>
                </div>
                <!-- 强制绑定手机 -->
                <div class="layui-form-item">
                    <label class="layui-form-label"><span class="asterisk">*</span>强制绑定手机:</label>
                    <div class="layui-input-block">
                        <input type="radio" name="h5_force_mobile" value="1"
                               title="开启" {if $detail.h5_force_mobile==1}checked{/if}>
                        <input type="radio" name="h5_force_mobile" value="0"
                               title="关闭" {if $detail.h5_force_mobile==0}checked{/if}>
                    </div>
                </div>
                <!-- 默认登录方式 -->
                <div class="layui-form-item">
                    <label class="layui-form-label"><span class="asterisk">*</span>默认登录方式:</label>
                    <div class="layui-input-block">
                        {foreach $detail.clients as $k => $v}
                            {if $detail.h5_default_method == $k}
                                <input type="radio" name="h5_default_method"
                                       value="{$k}" title="{$v}" checked />
                            {else}
                                <input type="radio" name="h5_default_method" value="{$k}" title="{$v}" />
                            {/if}
                        {/foreach}
                    </div>
                </div>
                <!-- 可用登录方式 -->
                <div class="layui-form-item">
                    <label class="layui-form-label"><span class="asterisk">*</span>可用登录方式:</label>
                    <div class="layui-input-block">
                        {foreach $detail.clients as $k => $v}
                            {if in_array($k, $detail.h5_usable_channel)}
                                <input type="checkbox" name="h5_usable_channel[]"
                                       value="{$k}" title="{$v}" lay-skin="tag" checked />
                            {else}
                                <input type="checkbox" name="h5_usable_channel[]"
                                       value="{$k}" title="{$v}" lay-skin="tag"  />
                            {/if}
                        {/foreach}
                    </div>
                </div>
            </div>
        </div>

        <!-- 其它端设置 -->
        <div class="layui-card">
            <div class="layui-card-header">其它端登录设置</div>
            <div class="layui-card-body">
                <!-- 显示登录协议 -->
                <div class="layui-form-item">
                    <label class="layui-form-label"><span class="asterisk">*</span>显示登录协议:</label>
                    <div class="layui-input-block">
                        <input type="radio" name="other_is_agreement" value="1"
                               title="开启" {if $detail.other_is_agreement==1}checked{/if}>
                        <input type="radio" name="other_is_agreement" value="0"
                               title="关闭" {if $detail.other_is_agreement==0}checked{/if}>
                    </div>
                </div>
                <!-- 强制绑定手机 -->
                <div class="layui-form-item">
                    <label class="layui-form-label"><span class="asterisk">*</span>强制绑定手机:</label>
                    <div class="layui-input-block">
                        <input type="radio" name="other_force_mobile" value="1"
                               title="开启" {if $detail.other_force_mobile==1}checked{/if}>
                        <input type="radio" name="other_force_mobile" value="0"
                               title="关闭" {if $detail.other_force_mobile==0}checked{/if}>
                    </div>
                </div>
                <!-- 默认登录方式 -->
                <div class="layui-form-item">
                    <label class="layui-form-label"><span class="asterisk">*</span>默认登录方式:</label>
                    <div class="layui-input-block">
                        {foreach $detail.clients as $k => $v}
                            {if $detail.other_default_method == $k}
                                <input type="radio" name="other_default_method"
                                       value="{$k}" title="{$v}" checked />
                            {else}
                                <input type="radio" name="other_default_method" value="{$k}" title="{$v}" />
                            {/if}
                        {/foreach}
                    </div>
                </div>
                <!-- 可用登录方式 -->
                <div class="layui-form-item">
                    <label class="layui-form-label"><span class="asterisk">*</span>可用登录方式:</label>
                    <div class="layui-input-block">
                        {foreach $detail.clients as $k => $v}
                            {if in_array($k, $detail.other_usable_channel)}
                                <input type="checkbox" name="other_usable_channel[]"
                                       value="{$k}" title="{$v}" lay-skin="tag" checked />
                            {else}
                                <input type="checkbox" name="other_usable_channel[]"
                                       value="{$k}" title="{$v}" lay-skin="tag"  />
                            {/if}
                        {/foreach}
                    </div>
                </div>
            </div>
        </div>

        <!-- 保存配置 -->
        <div class="layui-card">
            <div class="layui-card-body">
                <button class="layui-btn layui-btn-default {:check_perms('save', false)}"
                        lay-submit lay-filter="addForm">保存配置</button>
            </div>
        </div>
    </div>
</div>
{/block}

{block name="js"}
<script>
    layui.use('form', function () {
        let form = layui.form;

        form.on('submit(addForm)', function(data) {
            layer.confirm('确定保存当前配置吗?', function (index) {
                layer.close(index);
                waitUtil.ajax({
                    url: '{:route("setting.login/save")}',
                    type: "POST",
                    data: data.field
                });
            });
        });
    });
</script>
{/block}