<!DOCTYPE html>
<html lang="en" style="display: none;">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WaitAdmin后台管理系统</title>
    <link rel="stylesheet" href="__COMMON__/library/layui/css/layui.css">
    <link rel="stylesheet" href="__COMMON__/icons/iconfont.css">
    <link rel="stylesheet" href="__BACKEND__/css/theme.css">
    <link rel="stylesheet" href="__BACKEND__/css/app.css">
    {block name="style"}{/block}
</head>
<body>
    {block name="body"}{/block}
    <script src="__COMMON__/library/layui/layui.js"></script>
    <script src="__COMMON__/library/jquery.min.js"></script>
    <script src="__COMMON__/library/cache.min.js"></script>
    <script src="__BACKEND__/js/sortable.min.js"></script>
    <script src="__BACKEND__/js/config.min.js"></script>
    <script src="__BACKEND__/js/utils.min.js"></script>
    {block name="js"}{/block}
</body>
</html>