{extend name="common/layout" /}

{block name="body"}
<form class="layui-form">
    <!-- 主体内容 -->
    <div class="wait-body-content">
        <!-- 功能名称 -->
        <div class="layui-form-item">
            <label for="name" class="layui-form-label"><span class="asterisk">*</span>功能名称：</label>
            <div class="layui-input-block">
                <input type="text" id="name" name="name" autocomplete="off"
                       class="layui-input" lay-verType="tips" lay-verify="required">
            </div>
        </div>
        <!-- 功能排序 -->
        <div class="layui-form-item">
            <label for="sort" class="layui-form-label"><span class="asterisk">*</span>功能排序：</label>
            <div class="layui-input-block">
                <input type="number" min="0" id="sort" name="sort" autocomplete="off"
                       class="layui-input" lay-verType="tips" lay-verify="required">
            </div>
        </div>
        <!-- 是否显示 -->
        <div class="layui-form-item">
            <label class="layui-form-label"><span class="asterisk">*</span>是否显示：</label>
            <div class="layui-input-block">
                <input type="radio" name="is_show" value="1" title="显示" checked>
                <input type="radio" name="is_show" value="0" title="隐藏">
            </div>
        </div>
        <!-- 固定模块 -->
        <div class="layui-form-item">
            <label for="link_mod" class="layui-form-label"><span class="asterisk">*</span>链接地址：</label>
            <div class="layui-input-inline" style="width:110px;">
                <input type="radio" name="link_type" value="1" title="固定模块" checked>
            </div>
            <div class="layui-input-inline">
                <select id="link_mod" name="link_mod" lay-verify="number">
                    <option value="0">嗯嗯</option>
                    {foreach $menus??[] as $key=>$value}
                        <option value="{$key}">{$value.name}</option>
                    {/foreach}
                </select>
            </div>
        </div>
        <!-- 自定链接 -->
        <div class="layui-form-item">
            <label for="link_url" class="layui-form-label"></label>
            <div class="layui-input-inline" style="width:110px;">
                <input type="radio" name="link_type" value="2" title="自定链接">
            </div>
            <div class="layui-input-inline">
                <input type="text" id="link_url" name="link_url" autocomplete="off"
                       class="layui-input" lay-verType="tips">
            </div>
        </div>
        <!-- 功能图标 -->
        <div class="layui-form-item">
            <label class="layui-form-label"><span class="asterisk">*</span>功能图标：</label>
            <div class="layui-input-block">
                <div class="thumbnail" data-type="image" data-limit="1">
                    <div class="musters"></div>
                    <div class="builder layui-auto">
                        <i class="layui-icon layui-icon-camera"></i>
                        <p>上传图标</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 提交按钮 -->
    <div class="wait-body-footer">
        <a class="layui-layer-btn0" lay-submit lay-filter="addForm">确定</a>
        <a class="layui-layer-btn1" id="closePopupWindow">取消</a>
    </div>
</form>
{/block}