{extend name="common/layout" /}

{block name="style"}
<style>
    .phone {position: relative; width: 360px; min-width: 360px; height: 615px; color: #333; margin-right: 25px; border: 1px solid #ddd; background-color: #f7f7f7;}
    .phone .bottom {position: absolute; bottom: 0;width: 100%;height: 50px; display: flex; justify-content: space-between; box-sizing: border-box; background-color: #ffffff;}
    .phone .bottom .item {display: flex; flex-direction: column; align-items: center; justify-content: center; width: 33.33%;}
    .phone .bottom .item img {width: 22px; height: 22px;}
    .phone .bottom .item .text {line-height: 1.6;}

    .phone .service {margin: 10px; border-radius: 4px; background-color: #ffffff;}
    .phone .service .service-header {display: flex; align-items: center; justify-content: space-between; padding: 15px 10px 5px; font-size: 15px; font-weight: 600; color: #282828;}
    .phone .service .service-mould {display: flex; align-items: center; flex-wrap: wrap; padding: 7px 0;}
    .phone .service .service-mould .item {display: flex; flex-direction: column; justify-content: center; align-items: center; margin: 9px 0; width: 25%;}
    .phone .service .service-mould .item img {width: 30px; height: 30px;}

    .phone .top-bar {position: relative; min-height: 70px; background: url("/static/backend/images/diy/phone-top-white.png") center center / contain no-repeat #2979ff;}
    .phone .top-bar .title {position: absolute; bottom: 10px; left: 155px; font-size: 14px; color: #ffffff;}
    .phone .header {display: flex; justify-content: space-between; background-color: #2979ff;}
    .phone .header .user {display: flex; align-items: center; padding: 6px 15px 20px 15px; color: #ffffff;}
    .phone .header .user .avatar {width: 60px; height: 60px; border-radius: 50%;}
    .phone .header .user .login {margin-left: 10px; padding: 4px; width: 85px; font-size: 14px; border: 1px solid #ffffff; border-radius: 25px; text-align: center; color: #ffffff;}
    .phone .header .other {padding-top: 15px; }
    .phone .header .other .layui-icon {font-size: 22px; color: #ffffff; padding: 0 10px;}

    .editor {position: relative; z-index: 200; width: 400px; height: auto; text-align: left; padding: 20px 10px; border: 1px solid #ddd; border-radius: 5px; background: #fdfdfd;}
    .editor:after {position: absolute; top: 25px; left: -9px; z-index: 100; content: ""; display: block; width: 15px; height: 15px; background: #fdfdfd; transform: rotate(135deg); border-right: 1px solid #ddd; border-bottom: 1px solid #ddd;}
    .editor .list .item {position: relative; display: flex; align-items: center; height: auto; padding: 10px; overflow: hidden; margin-bottom: 10px; border-radius: 3px; border: 1px solid #e7eaec; background: #ffffff;}
    .editor .list .item:hover  .layui-icon {display: block;}
    .editor .list .item .layui-icon {display: none; position: absolute; top: 4px; right: 4px; color: #fff; font-size: 12px; line-height: 1; padding: 3px; border-radius: 50%; background: rgba(0,0,0,0.3);}
    .editor .list .item .layui-icon:hover {background: rgba(0,0,0,0.7);}
    .editor .list .item img {width: 74px; height: 74px; border-radius: 50%;}
    .editor .list .item .form {flex: 1; margin-left: 10px;}
    .editor .list .item .form label:first-child input {margin-bottom: 8px;}
    .editor .add-btn {cursor: pointer; color: #6b6b6b; text-align: center; font-size: 12px; white-space: nowrap; padding: 6px 12px; border: 1px solid #efefef; transition: background-color 0.3s; background: #fdfdfd !important;}
</style>
{/block}

{block name="body"}
<div class="container">
    <div class="layui-card">
        <div class="layui-card-body">
            <div style="display: flex;">
                <div class="phone">
                    <div class="top-bar">
                        <div class="title">个人中心</div>
                    </div>
                    <div class="header">
                        <div class="user">
                            <img class="avatar" src="__BACKEND__/images/default/avatar.png" alt="avatar">
                            <div class="login">立即登录</div>
                        </div>
                        <div class="other">
                            <i class="layui-icon icon-setup-fill"></i>
                        </div>
                    </div>
                    <div class="service">
                        <div class="service-header">我的服务</div>
                        <div class="service-mould">
                            <div class="item">
                                <img src="https://b2ctests.waitshop.cn/static/images/diy/client/index/navbar_seckill.png" alt="ico">
                                <div>我的钱包</div>
                            </div>
                            <div class="item">
                                <img src="https://b2ctests.waitshop.cn/static/images/diy/client/index/navbar_seckill.png" alt="ico">
                                <div>我的钱包</div>
                            </div>
                            <div class="item">
                                <img src="https://b2ctests.waitshop.cn/static/images/diy/client/index/navbar_seckill.png" alt="ico">
                                <div>我的钱包</div>
                            </div>
                            <div class="item">
                                <img src="https://b2ctests.waitshop.cn/static/images/diy/client/index/navbar_seckill.png" alt="ico">
                                <div>我的钱包</div>
                            </div>
                        </div>
                    </div>
                    <div class="bottom">
                        <div class="item">
                            <img src="http://waitadmin.local/storage/config/tabBar/tab_home.png" alt="icon">
                            <div class="text">首页</div>
                        </div>
                        <div class="item">
                            <img src="http://waitadmin.local/storage/config/tabBar/tab_home.png" alt="icon">
                            <div class="text">资讯</div>
                        </div>
                        <div class="item">
                            <img src="http://waitadmin.local/storage/config/tabBar/tab_home.png" alt="icon">
                            <div class="text">我的</div>
                        </div>
                    </div>
                </div>
                <div class="editor layui-form">
                    <div class="layui-form-item">
                        <label class="layui-form-label">排版样式</label>
                        <div class="layui-input-block">
                            <input type="radio" name="layout" value="row" title="横排">
                            <input type="radio" name="layout" value="col" title="竖排" checked>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label for="title" class="layui-form-label">标题名称</label>
                        <div class="layui-input-block">
                            <input type="text" id="title" name="title" placeholder="请输入标题" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="list" id="serviceDrag">
                        <div class="item">
                            <i class="layui-icon layui-icon-close"></i>
                            <img src="https://b2ctests.waitshop.cn/static/images/diy/diy_circular.png" alt="">
                            <div class="form">
                                <label><input type="text" name="title" placeholder="请输入标题" autocomplete="off" class="layui-input"></label>
                                <label><input type="text" name="title" placeholder="请输入标题" autocomplete="off" class="layui-input"></label>
                            </div>
                        </div>
                        <div class="item">
                            <i class="layui-icon layui-icon-close"></i>
                            <img src="https://b2ctests.waitshop.cn/static/images/diy/diy_circular.png" alt="">
                            <div class="form">
                                <label><input type="text" name="title" placeholder="请输入名称" autocomplete="off" class="layui-input"></label>
                                <label><input type="text" name="title" placeholder="请选择链接" autocomplete="off" class="layui-input"></label>
                            </div>
                        </div>
                    </div>
                    <div class="add-btn">添加一个</div>
                    <div style="margin-top:20px;">
                        <button class="layui-btn layui-btn-default" lay-submit lay-filter="addForm">保存</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}

{block name="js"}
<script src="__BACKEND__/js/sortable.min.js"></script>
<script>
    layui.use(['form'], function() {
        let $ = layui.$;
        let form = layui.form;

        // 拖动效果
        let el = document.getElementById('serviceDrag');
        Sortable.create(el, {
            animation: 150,
            ghostClass: 'blue-background-class',
        });

        // 创建模块
        $(document).on('click', '.add-btn', function () {
            let html = '<div class="item">';
            html += '<i class="layui-icon layui-icon-close"></i>';
            html += '<img src="https://b2ctests.waitshop.cn/static/images/diy/diy_circular.png" alt="">';
            html += '<div class="form">';
            html += '<label><input type="text" name="title" placeholder="请输入名称" autocomplete="off" class="layui-input"></label>';
            html += '<label><input type="text" name="title" placeholder="请选择链接" autocomplete="off" class="layui-input"></label>';
            html += '</div></div>';
            $(this).prev().append(html)
        });

        // 删除模块
        $(document).on('click', '.editor .item .layui-icon-close', function () {
            if ($('.editor .list .item').length <= 1) {
                return layer.msg('请至少保留一个', {icon: 2});
            }
            $(this).parent().remove();
        })

        // 选择图标
        $(document).on('click', '.editor .item img', function () {
            let that = $(this);
            waitUtil.uploader().then(data => {
                $(that).attr('src', data[0].url);
            });
        });

        form.on('submit(addForm)', function(data) {
            layer.confirm('确定保存当前配置吗?', function(index) {
                layer.close(index);

                let listData = [];
                let baseData = {
                    layout: data.field['layout'],
                    title: data.field['title'],
                }

                let itemArr = $(this).parents('.editor').find('.list .item');
                itemArr.each(function () {
                    let image = $(this).find('img').attr('src');
                    let title = $(this).find("input[name='title']").val();
                    let link  = $(this).find("input[name='link']").val();
                    listData.push({image: image, title: title, link:link});
                });

                waitUtil.ajax({
                    url: '{:route("diy.person/save")}',
                    type: 'POST',
                    data: {base: baseData, list: listData}
                });
            });
        });
    });
</script>
{/block}