{extend name="common/layout" /}

{block name="style"}
<style>
    .layui-card-body {display: flex !important;}
    .editor {position: relative; z-index: 200; width: 400px; height: auto; text-align: left; padding: 20px 10px; border: 1px solid #ddd; border-radius: 5px; background: #fdfdfd;}
    .editor:after {position: absolute; top: 25px; left: -9px; z-index: 100; content: ""; display: block; width: 15px; height: 15px; background: #fdfdfd; transform: rotate(135deg); border-right: 1px solid #ddd; border-bottom: 1px solid #ddd;}
    .editor .list .item {position: relative; display: flex; align-items: center; height: auto; padding: 10px; overflow: hidden; margin-bottom: 10px; border-radius: 3px; border: 1px solid #e7eaec; background: #ffffff;}
    .editor .list .item:hover  .layui-icon {display: block;}
    .editor .list .item .layui-icon {display: none; position: absolute; top: 4px; right: 4px; color: #fff; font-size: 12px; line-height: 1; padding: 3px; border-radius: 50%; background: rgba(0,0,0,0.3);}
    .editor .list .item .layui-icon:hover {background: rgba(0,0,0,0.7);}
    .editor .list .item .icon {width: 50px; height: 50px; border-radius: 50%; border: 1px #eee dashed;}
    .editor .list .item img {width: 100%; height: 100%; border-radius: 50%;}
    .editor .list .item .form {flex: 1; margin-left: 10px;}
    .editor .list .item .form label:first-child input {margin-bottom: 8px;}
    .editor .add-btn {cursor: pointer; color: #6b6b6b; text-align: center; font-size: 12px; white-space: nowrap; padding: 6px 12px; border: 1px solid #efefef; transition: background-color 0.3s; background: #fdfdfd !important;}
</style>
{/block}

{block name="body"}
<div class="container layui-form">
    <div class="layui-card">
        <div class="layui-card-body">
            {include file="diy/person/phone" /}
            <div class="editor">
                <div class="layui-form-item">
                    <label class="layui-form-label">排版样式</label>
                    <div class="layui-input-block">
                        <input type="radio" name="layout" value="row" title="横排" {if $detail.base.layout=='row'}checked{/if}>
                        <input type="radio" name="layout" value="col" title="竖排" {if $detail.base.layout=='col'}checked{/if}>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="title" class="layui-form-label">标题名称</label>
                    <div class="layui-input-block">
                        <input type="text" id="title" name="title" value="{$detail.base.title}" placeholder="请输入标题" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="list" id="serviceDrag">
                    {volist name="detail.list??[]" id="vo"}
                        <div class="item">
                            <i class="layui-icon layui-icon-close"></i>
                            <div class="icon">
                                <img src="{$vo.image}" alt="icon">
                            </div>
                            <div class="form">
                                <label><input type="text" name="name" value="{$vo.name}" placeholder="请输入标题" autocomplete="off" class="layui-input"></label>
                                <label><input type="text" name="link" value="{$vo.link}" placeholder="请输入标题" autocomplete="off" class="layui-input"></label>
                            </div>
                        </div>
                    {/volist}
                </div>
                <div class="add-btn">添加一个</div>
            </div>
        </div>
    </div>
    <div class="layui-card">
        <div class="layui-card-body">
            <button class="layui-btn layui-btn-default" lay-submit="" lay-filter="addForm">保存配置</button>
        </div>
    </div>
</div>
{/block}

{block name="js"}
<script src="__BACKEND__/js/sortable.min.js"></script>
<script>
    layui.use(['form', 'laytpl', 'carousel'], function() {
        let $ = layui.$;
        let form = layui.form;
        let laytpl = layui.laytpl;
        let carousel = layui.carousel;

        function renderService(data) {
            let getTpl = document.getElementById("serviceTpl").innerHTML;
            let view = document.getElementById('serviceView');
            laytpl(getTpl).render(data, function(html){
                view.innerHTML = html;
            });
        }

        function renderCarousel(data) {
            let getTpl = document.getElementById("carouselTpl").innerHTML;
            let view = document.getElementById('carouselView');
            laytpl(getTpl).render(data, function(html){
                view.innerHTML = html;
            });
        }

        // 初始化值
        renderCarousel([]);
        renderService(JSON.parse('{$jsonp|raw}'));
        carousel.render({elem: '#adv' ,width: '100%' ,arrow: 'none' ,height: 120 ,indicator: 'none'});

        // 拖动效果
        let el = document.getElementById('serviceDrag');
        Sortable.create(el, {
            animation: 150,
            ghostClass: 'blue-background-class',
        });

        // 切换模块
        $(document).on('click', '.phone-diy', function () {
            $('.phone-diy').removeClass('on');
            $(this).addClass('on');
        });

        // 创建模块
        $(document).on('click', '.add-btn', function () {
            let html = '<div class="item">';
            html += '<i class="layui-icon layui-icon-close"></i>';
            html += '<div class="icon">'
            html += '<img src="https://b2ctests.waitshop.cn/static/images/diy/diy_circular.png" alt="">';
            html += '</div>'
            html += '<div class="form">';
            html += '<label><input type="text" name="name" placeholder="请输入名称" autocomplete="off" class="layui-input"></label>';
            html += '<label><input type="text" name="link" placeholder="请选择链接" autocomplete="off" class="layui-input"></label>';
            html += '</div></div>';
            $(this).prev().append(html)
        });

        // 删除模块
        $(document).on('click', '.editor .item .layui-icon-close', function () {
            if ($('.editor .list .item').length <= 1) {
                return layer.msg('请至少保留一个', {icon: 2});
            }
            $(this).parent().remove();
        })

        // 选择图标
        $(document).on('click', '.editor .item img', function () {
            let that = $(this);
            waitUtil.uploader().then(data => {
                $(that).attr('src', data[0].url);
            });
        });

        // 提交表单
        form.on('submit(addForm)', function(data) {
            const that = $(this)
            layer.confirm('确定保存当前配置吗?', function(index) {
                layer.close(index);
                let listData = [];
                let baseData = data.field;

                let itemArr = that.parents('.editor').find('.list .item');
                itemArr.each(function () {
                    let image = $(this).find('img').attr('src');
                    let name  = $(this).find("input[name='name']").val();
                    let link  = $(this).find("input[name='link']").val();
                    listData.push({image: image, name: name, link:link});
                });

                waitUtil.ajax({
                    url: '{:route("diy.person/save")}',
                    type: 'POST',
                    data: {base: baseData, list: listData}
                });

                renderService({base: baseData, list: listData});
            });
        });
    });
</script>
{/block}