{extend name="common/layout" /}

{block name="style"}
<link rel="stylesheet" href="__BACKEND__/css/diy.css">
<style>
    .diy {
        display: flex;
    }
    .phone {
        width: 360px;
        height: 615px;
        color: #333;
        box-sizing: border-box;
        position: relative;
        border: 1px solid #ddd;
        background: #f7f7f7;
        margin-right: 20px;;
    }
    .tab_bar {
        display: flex;
        justify-content: space-between;
        position: absolute;
        bottom: 0;
        height: 50px;
        width: 100%;
        box-sizing: border-box;
        border: 2px solid #3b91ff;
        background: #ffffff;
    }
    .tab_bar .item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 33.33%;
    }
    .tab_bar img {
        width: 22px;
        height: 22px;
        vertical-align: middle;
    }
</style>
{/block}

{block name="body"}
<div class="container">
    <div class="layui-card layui-form" style="padding: 20px;">
        <div id="diyView">
            <div class="phone">
                <div class="tab_bar">
                    <div class="item">
                        <img src="http://waitadmin.local/storage/config/tabBar/tab_home_no.png" alt="">
                        <div>首页</div>
                    </div>
                    <div class="item">
                        <img src="http://waitadmin.local/storage/config/tabBar/tab_community.png" alt="">
                        <div>资讯</div>
                    </div>
                    <div class="item">
                        <img src="http://waitadmin.local/storage/config/tabBar/tab_user.png" alt="">
                        <div>我的</div>
                    </div>
                </div>
            </div>
            <div class="diy-editor">
                <div class="layui-form">
                    <div class="layui-form-item">
                        <label class="layui-form-label">背景颜色 </label>
                        <div class="layui-input-block">
                            <input class="" type="color" v-model="curItem.config.background">
                            <button type="button" class="btn-resetColor"
                                    @click.stop="onEditorResetColor(curItem.config, 'background', '#FFFFFF')">
                                重置
                            </button>
                        </div>
                    </div>
                    <div class="layui-plate-item">
                        <draggable :list="curItem.data" :options="{ animation: 120, filter: 'input', preventOnFilter: false }">
                            <div class="item drag" v-for="(navBar, index) in curItem.data">
                                <i class="item-delete" @click="onEditorDeleteData(index, selectedIndex)"></i>
                                <div class="item-image" style="border:none;background:none;width:50px;height:50px;margin-top:32px;">
                                    <img :src="navBar.imgUrl"
                                         @click="onEditorSelectImage(navBar, 'imgUrl')"
                                         style="width:100%;height:100%;"
                                    >
                                </div>
                                <div class="item-form">
                                    <div class="item-input-group">
                                        <input type="text" class="layui-input" placeholder="请填写导航文本" v-model="navBar.text">
                                    </div>
                                    <div class="item-input-group">
                                        <input type="text" class="layui-input" placeholder="请填写链接地址" v-model="navBar.linkUrl">
                                    </div>
                                </div>
                            </div>
                        </draggable>
                    </div>
                    <div class="btn-default" @click="onEditorAddData">添加一个</div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}

{block name="js"}

{/block}
