<div class="user-modular-bindWx">
    <div class="title">绑定微信</div>
    <div class="qrCode">
        <img src="" alt="qr" style="display: none;">
        <div class="loading">
            <i class="layui-icon layui-icon-loading layui-anim layui-anim-rotate layui-anim-loop"></i>
        </div>
        <div class="masking" style="display: none;">
            <p>二维码失效</p>
            <a href="javascript:" class="refresh">刷新</a>
        </div>
    </div>
    <div class="remark">打开微信扫一扫快速绑定</div>
</div>