// 天空蓝主题
.default-theme,
.blue-theme {
    --theme-color: #2979ff;
    --theme-background: #2979ff;
    .color-theme { color: #2b85e4; }
    .u-btn--theme {
        color: #ffffff; 
        border-color: #2979ff; 
        background-color: #2979ff; 
    }
    .u-btn--theme--plain {
        color: #2979ff;
        border-color: #a0cfff;
        background-color: #ecf5ff;
    }
}

// 热情红主题
.red-theme {
    --theme-color: #ff5058;
    --theme-background: #ff5058;
    .color-theme { color: #ff5058; }
    .u-btn--theme { 
        color: #ffffff; 
        border-color: #ff5058; 
        background-color: #ff5058; 
    }
    .u-btn--theme--plain { 
        color: #ff5058; 
        border-color: #ffa0a0; 
        background-color: #ffecec; 
    }
}

// 生鲜绿主题
.green-theme {
    --theme-color: #40ca4d;
    --theme-background: #40ca4d;
    .color-theme { color: #40ca4d; }
    .u-btn--theme { 
        color: #ffffff; 
        border-color: #40ca4d; 
        background-color: #40ca4d; 
    }
    .u-btn--theme--plain { 
        color: #40ca4d; 
        border-color: #9efba7; 
        background-color: #eafcec; 
    }
}
