#app, page {
    // 按钮
    .u-btn--normal {
        color: #ffffff; 
        border-color: #2979ff; 
        background-color: #2979ff; 
    }
    .u-btn--gloomy {
        color: #ffffff;  
        border-color: #444c69; 
        background-color: #444c69;
    }
}
