{extend name="common/layout" /}

{block name="body"}
<div class="container">
    <!-- 表格栏 -->
    <div class="layui-card">
        <div class="layui-card-body" style="padding: 0;">
            <table id="wait-table-list" lay-filter="wait-table-list"></table>
            <script type="text/html" id="table-operate">
                <button type="button" class="layui-btn layui-btn-xs layui-btn-primary" lay-event="kick">
                    <i class="layui-icon layui-icon-unlink"></i><span>下线</span>
                </button>
            </script>
        </div>
    </div>
</div>
{/block}

{block name="js"}
<script>
    layui.use(function() {
        // 渲染表格
        let table = waitUtil.table({
            elem: '#wait-table-list'
            ,url: '{:route("user.users/line")}?id=1'
            ,toolbar: false
            ,page: false
            ,cols: [[
                {field:'value', title:'令牌'},
                {field:'device', title:'设备', align:'center', width:60},
                {field:'lastIpAddress', title:'最后操作IP', align:'center', width:100},
                {field:'lastOpTime', title:'最后操作时间', align:'center', width:160},
                {field:'lastUaBrowser', title:'最后操作UA', align:'center', width:180},
                {fixed:'right', title:'操作', width:80, align:'center', toolbar:'#table-operate'}
            ]]
        });

        // 逻辑事件
        waitUtil.event({
            kick: function (obj) {
                layer.confirm('确定要强制退出吗？', function(index) {
                    layer.close(index);
                    waitUtil.ajax({
                        url: '{:route("user.users/kickOut")}',
                        type: 'POST',
                        data: {token: obj.data.value}
                    }).then((res) => {
                        if (res.code === 0) {
                            table.reload();
                        }
                    });
                });
            }
        });

        // 搜索事件
        waitUtil.search(table);
    });
</script>
{/block}