{extend name="common/layout" /}

{block name="body"}
<div class="container">
    <!-- 表格栏 -->
    <div class="layui-card">
        <div class="layui-card-body wait-table-cell">
            <table id="wait-table-list" lay-filter="wait-table-list"></table>
            <script type="text/html" id="table-operate">
                <button type="button" class="layui-btn layui-btn-xs layui-btn-primary" lay-event="detail">
                    <i class="layui-icon icon-detail"></i><span>详情</span>
                </button>
            </script>
        </div>
    </div>
</div>
{/block}

{block name="js"}
<script>
    layui.use(function() {
        // 渲染表格
        let table = waitUtil.table({
            elem: '#wait-table-list'
            ,url: '{:route("user.users/line")}'
            ,cols: [[
                {type:'checkbox', width:48},
                {field:'id', title:'ID', width:60, align:'center', event:'id'},
                {field:'info', title:'用户信息', width:270, templet:'#table-info'},
                {field:'groups', title:'用户分组', align:'center', width:100},
                {field:'username', title:'登录账号', align:'center', width:100},
                {field:'email', title:'电子邮箱', align:'center', width:100},
                {field:'sex', title:'性别', align:'center', width:60},
                {field:'disable', title:'状态', align:'center', width:60, templet:'#table-disable'},
                {field:'create_time', title:'创建时间', width:130, align:'center'},
                {fixed:'right', title:'操作', width:90, align:'center', toolbar:'#table-operate'}
            ]]
        });

        // 逻辑事件
        waitUtil.event({
            kick: function () {
                let ids = waitUtil.checkbox();
                if (!ids.length) {
                    return layer.msg('请至少选择一项！', {icon: 2});
                }
            }
        });

        // 搜索事件
        waitUtil.search(table);
    });
</script>
{/block}