{extend name="common/layoutEasy" /}

{block name="body"}
<div class="layout-global-session">
    {if $scene == 'login'}
        {include file="login/logon" /}
    {/if}

    {if $scene == 'register'}
        {include file="login/register" /}
    {/if}

    {if $scene == 'resetting'}
        {include file="login/resetting" /}
    {/if}
</div>
{/block}

{block name="js"}
<script>
    layui.use(['form'], function () {
        let $ = layui.$;
        let form = layui.form;

        // 账号登录
        form.on('submit(loginSubmit)', function(data) {
            waitUtil.locking(this)
            waitUtil.ajax({
                url: '/frontend/login/login',
                type: 'POST',
                data: data.field
            }).then((res) => {
                if (res.code === 0) {
                    layer.msg('登录成功', {icon: 1});
                    parent.location.href = '/';
                } else {
                    waitUtil.unlock(this);
                }
            });
        });

        // 账号注册
        form.on('submit(registerSubmit)', function(data) {
            waitUtil.locking(this);
            if (!data.field['agreement']) {
                waitUtil.unlock(this);
                return layer.msg('请阅读并同意服务协议', {icon: 2});
            }

            waitUtil.ajax({
                url: '/frontend/login/register',
                type: 'POST',
                data: data.field
            }).then((res) => {
                if (res.code === 0) {
                    layer.msg('注册成功', {icon: 1});
                    parent.location.href = '/';
                } else {
                    waitUtil.unlock(this);
                }
            });
        });

        // 验证码
        $(document).on('click', '.get_code', function () {
            let that = $(this);
            let mobile = $(this).parent().parent().find('input[name="mobile"]').val();
            console.log(mobile)
            if (!mobile) {
                return layer.msg('手机号码不能为空');
            }

            waitUtil.locking(this);
            waitUtil.ajax({
                url: '/frontend/index/sendSms',
                type: 'POST',
                data: {scene: 105, mobile: mobile}
            }).then((res) => {
                waitUtil.unlock(this);
                if (res.code !== 0) {
                    timing(that);
                }
            });
        });

        // 倒计时
        function timing(that) {
            let time = 60;
            that.html(time+'秒后可再次发送');
            that.addClass('layui-btn-forbid');
            let timer = setInterval(function () {
                time = time - 1;
                if (time>=0) {
                    that.html(time + '秒后可再次发送');
                } else {
                    that.html('重新发送');
                    clearInterval(timer);
                    that.removeClass('layui-btn-forbid');
                }
            }, 1000);
        }
    });
</script>
{/block}