{extend name="common/layoutBase" /}

{block name="body"}
<!-- 登录 -->
<div class="layout-global-login">
    <div class="container">
        <div class="layui-card">
            <div class="layui-card-body">
                <h2>登录系统</h2>
                <div class="layui-form layui-form-pane" style="padding-left: 25px;">
                    <form class="layui-form">
                        <div class="layui-form-item">
                            <label for="account" class="layui-form-label">用户账号</label>
                            <div class="layui-input-inline">
                                <input type="text" id="account" name="account" lay-verify="required" autocomplete="off"
                                       class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label for="password" class="layui-form-label">登录密码</label>
                            <div class="layui-input-inline">
                                <input type="password" id="password" name="password" lay-verify="required"
                                       autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label for="captcha" class="layui-form-label">验证码</label>
                            <div class="layui-input-inline">
                                <input type="text" id="captcha" name="captcha" lay-verify="required" autocomplete="off"
                                       class="layui-input">
                            </div>
                            <div class="layui-form-mid" style="padding: 0!important;">
                                <img src="/captcha.html" class="login-captcha"
                                     onclick="this.src='/captcha.html?'+Math.random()"
                                     width="115px" height="38px" alt="点击刷新验证码">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="registerNow">
                                <span>没有账号？</span><a href="/frontend/login/register">立即注册</a>
                            </div>
                            <div class="forgetPassword"><a href="/frontend/login/forget">忘记密码?</a></div>
                        </div>
                        <div class="layui-form-item" style="position: relative; left: -10px; height: 32px;">
                            <input type="checkbox" name="agreement" lay-skin="primary" title="" checked="">
                            <div class="layui-unselect layui-form-checkbox layui-form-checked" lay-skin="primary">
                                <i class="layui-icon layui-icon-ok"></i>
                            </div>
                            <a href="/instructions/terms.html" target="_blank" style="position: relative; top: 4px; left: 0; color: #999; font-size:14px;">
                                已阅读并同意
                                <span>《用户协议》</span> 与
                                <span>《隐私协议》</span>
                            </a>
                        </div>
                        <div class="layui-form-item">
                            <a class="layui-btn layui-btn-normal" lay-filter="loginSubmit" lay-submit=""
                               style="width: 287px;">登录</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}

{block name="js"}
<script>
    layui.use(['form'], function () {
        let $ = layui.$;
        let form = layui.form;

        // 监听提交登录
        form.on('submit(loginSubmit)', function (data) {
            waitUtil.locking(this);
            waitUtil.ajax({
                url: '/frontend/login/login',
                type: 'POST',
                data: data.field
            }).then((res) => {
                if (res.code === 0) {
                    layer.msg(res.msg, {icon: 1, time: 1000}, function () {
                        waitUtil.unlock(this);
                        location.href = '/'
                    });
                } else {
                    waitUtil.unlock(this);
                    $('.login-captcha').trigger('click');
                }
            });
        });
    });
</script>
{/block}