<div class="register">
    <h1 class="black-title">快速注册</h1>
    <form class="layui-form">
        <label class="phone">
            <em class="area_code">+86</em>
            <input type="text" name="mobile" autocomplete="off" placeholder="请输入正确的手机号"
                   class="layui-input" lay-verType="tips" lay-verify="required|phone">
        </label>
        <label class="verify">
            <em class="get_code">获取验证码</em>
            <input type="text" name="code" autocomplete="off" placeholder="请输入验证码"
                   class="layui-input" lay-verType="tips" lay-verify="required|number">
        </label>
        <label>
            <input type="text" name="account" autocomplete="off" placeholder="请设登录账号"
                   class="layui-input" lay-verType="tips" lay-verify="required">
        </label>
        <label>
            <input type="password" name="password" autocomplete="off"
                   placeholder="请输入8-20位字母、数字或字符密码"
                   class="layui-input" lay-verType="tips" lay-verify="required|number">
        </label>
        <a href="javascript:" class="confirm" lay-filter="registerSubmit" lay-submit>立即注册</a>
        <div class="go">
            <a href="javascript:" class="jump">返回账号登录</a>
        </div>
        <div class="agreement">
            <input type="checkbox" name="agreement" lay-skin="primary" title="">
            <div class="layui-unselect layui-form-checkbox layui-form-checked" lay-skin="primary">
                <i class="layui-icon layui-icon-ok"></i>
            </div>
            <div class="compact">
                已阅读并同意
                <a href="#">《用户协议》</a> 与
                <a href="#">《隐私协议》</a>
            </div>
        </div>
    </form>
</div>