
/* 基础相关颜色 */
$uni-color-black: #000000;
$uni-color-white: #ffffff;

/* 背景颜色 */
$uni-bg-color: #f6f6f6;
$uni-bg-color-page: #ffffff;
$uni-bg-color-overlay: #ffffff;
$uni-bg-color-lighter: #f0f0f0;
$uni-bg-color-light: #e0e0e0;

/* 文字基本颜色 */
$uni-text-color-primary: #303133;
$uni-text-color-regular: #606266;
$uni-text-color-secondary: #909399;
$uni-text-color-placeholder: #c0c4cc;
$uni-text-color-disable: #d9d9d9;
$uni-text-color-thinnest: #e8e8e8;

/* 边框颜色 */
$uni-border-color: #dcdfe6;
$uni-border-light: #e4e7ed;
$uni-border-lighter: #ebeef5;
$uni-border-thinned: #f2f6fc;

/* 文字尺寸 */
$uni-font-size-xs: 24rpx;
$uni-font-size-sm: 26rpx;
$uni-font-size-base: 28rpx;
$uni-font-size-lg: 30rpx;
$uni-font-size-xl: 32rpx;
$uni-font-size-2xl: 34rpx;
$uni-font-size-3xl: 36rpx;
