@import "@/uni_modules/vk-uview-ui/theme.scss";

/* 背景颜色 */
$uni-bg-pages: #f6f6f6;
$uni-bg-white: #ffffff;
$uni-bg-black: #000000;
$uni-bg-primary: #2979ff;
$uni-bg-muted: #2b85e4;
$uni-bg-normal: #30cfff;
$uni-bg-light: #ecf5ff;
$uni-bg-success: #4cd964;
$uni-bg-warning: #f0ad4e;
$uni-bg-error: #dd524d;
$uni-bg-mask: rgb(0 0 0 / 40%);

/* 文字颜色 */
$uni-color-white: #ffffff;
$uni-color-black: #000000;
$uni-color-main: #333333;
$uni-color-text: #666666;
$uni-color-muted: #999999;
$uni-color-normal: #909399;
$uni-color-lighter: #e5e5e5;
$uni-color-success: #4cd964;
$uni-color-warning: #f0ad4e;
$uni-color-error: #dd524d;
