{extend name="common/layout" /}

{block name="body"}
<div class="container">
    <div class="layui-card">
        <!-- 表格栏 -->
        <div class="layui-card-body">
            <table id="wait-table-list" lay-filter="wait-table-list"></table>
            <script type="text/html" id="toolbar">
                <div class="layui-btn-container">
                    <a class="layui-btn layui-btn-sm layui-btn-default" lay-event="add">
                        <i class="layui-icon icon-add"></i>
                        <span>新增</span>
                    </a>
                    <button class="layui-btn layui-btn-sm layui-btn-primary" lay-event="expand">展开所有</button>
                    <button class="layui-btn layui-btn-sm layui-btn-primary" lay-event="collapse">收起所有</button>
                </div>
            </script>
            <script type="text/html" id="table-icon">
                <i class="layui-icon {{d.icon}}"></i>
            </script>
            <script type="text/html" id="table-menu">
                {{#  if(d.is_menu === 0){ }}
                    <span class="text-warning"><i class="layui-icon layui-icon-circle-dot" lay-tips="否"></i></span>
                {{# } else { }}
                    <span class="text-success"><i class="layui-icon layui-icon-circle-dot" lay-tips="是"></i></span>
                {{#  } }}
            </script>
            <script type="text/html" id="table-operate">
                <button type="button" class="layui-btn layui-btn-xs layui-btn-default" lay-event="edit">
                    <i class="layui-icon icon-edit"></i>
                </button>
                <button type="button" class="layui-btn layui-btn-xs layui-btn-danger" lay-event="del">
                    <i class="layui-icon icon-del"></i>
                </button>
            </script>
        </div>
    </div>
</div>
{/block}

{block name="js"}
<script>
    layui.use(['treeTable'], function () {
        // 渲染表格
        let treeTable = layui.treeTable.render({
            treeColIndex: 1
            ,treePid: 0
            ,treeIdName: 'id'
            ,treePidName: 'pid'
            ,treeDefaultClose: true
            ,treeLinkage: true
            ,treeDirIcon: false
            ,treeExpand: false
            ,id: 'wait-table-list'
            ,elem: '#wait-table-list'
            ,url: '{:route("auth.menu/index")}'
            ,toolbar: '#toolbar'
            ,defaultToolbar: ['filter', 'exports', 'print']
            ,cols: [[
                {field:'id', title:'ID', width:70, align:'center'},
                {field:'title', title:'标题', width:200},
                {field:'icon', title:'图标', width:80, align:'center', templet:'#table-icon'},
                {field:'perms', title:'权限', width:300},
                {field:'sort', title:'排序', width:80, align:'center'},
                {field:'is_menu', title:'菜单', width:60, align:'center', templet:'#table-menu'},
                {field:'right', title:'操作', width:90, align:'center', toolbar:'#table-operate'},
            ]]
        });

        // 逻辑事件
        waitUtil.event({
            add: function () {
                waitUtil.popup({
                    title: '新增',
                    url: '{:route("auth.menu/add")}',
                    area: ['500px', '500px'],
                    success: function (layero, index) {
                        layero.layui.form.on('submit(addForm)', function(data) {
                            waitUtil.locking(this);
                            waitUtil.ajax({
                                url: '{:route("auth.menu/add")}',
                                type: 'POST',
                                data: data.field
                            }).then((res) => {
                                waitUtil.unlock(this);
                                if (res.code === 0) {
                                    treeTable.reload();
                                    layer.close(index);
                                }
                            });
                        });
                    }
                });
            },
            edit: function (obj) {
                waitUtil.popup({
                    title: '编辑',
                    url: '{:route("auth.menu/edit")}?id='+obj.data.id,
                    area: ['500px', '500px'],
                    success: function (layero, index) {
                        layero.layui.form.on('submit(addForm)', function(data) {
                            waitUtil.locking(this);
                            data.field['id'] = obj.data.id;
                            waitUtil.ajax({
                                url: '{:route("auth.menu/edit")}',
                                type: 'POST',
                                data: data.field
                            }).then((res) => {
                                waitUtil.unlock(this);
                                if (res.code === 0) {
                                    treeTable.reload({page: {curr: 1}});
                                    layer.close(index);
                                }
                            });
                        });
                    }
                });
            },
            del: function (obj) {
                layer.confirm('确定要删除此项数据吗？', function(index) {
                    layer.close(index);
                    waitUtil.ajax({
                        url: '{:route("auth.menu/del")}',
                        type: 'POST',
                        data: {id: obj.data.id}
                    }).then((res) => {
                        if (res.code === 0) {
                            treeTable.reload();
                            layer.msg(res.msg, {icon: 1, time: 1000});
                        }
                    });
                });
            },
            expand: function () {
                treeTable.expandAll();
            },
            collapse: function () {
                treeTable.foldAll();
            }
        });
    });
</script>
{/block}